{:deps true
 :jvm-opts ["-Djava.util.logging.config.file=resources/logging.properties"
            ;; https://github.com/thheller/shadow-cljs/issues/556
            "-Xms400m" "-Xmx1400m"]
 :builds {:dev {:target :browser
                :output-dir "resources/public/out-dev"
                :asset-path "/out-dev"
                :js-options {:ignore-asset-requires true}
                :modules {:sysrev {:entries [sysrev.user]
                                   :init-fn sysrev.core/on-jsload}}
                :devtools {:loader-mode :eval
                           :preloads [hashp.core]
                           :watch-path "/css"
                           :watch-dir "resources/public/css"}}
          :prod {:target :browser
                 :output-dir "resources/public/out-production"
                 :asset-path "/out"
                 :js-options {:ignore-asset-requires true}
                 :modules {:sysrev {:entries [sysrev.core]}}
                 :compiler-options {:infer-externs :auto}
                 :release {:compiler-options {:optimizations :advanced}}}
          :karma-test
          {:target    :karma
           :ns-regexp "-test$"
           :output-to "target/karma-test.js"}}
 :nrepl {:port 7888
         #_:middleware #_[refactor-nrepl.middleware/wrap-refactor]}}
