{:datapub-api "https://www.datapub.dev/api"
 :datapub-ws "wss://www.datapub.dev/ws"
 :nrepl {:port 7888}
 :postgres
 {:dbname "sysrev"
  :user "postgres"
  :password ""
  :host "localhost"
  :port 5432}
 :server
 {:port 4041}
 :profile :prod
 :max-import-articles 100000
 :max-bulk-invitations 100
 :e-util-api-key "***REMOVED***"
 :private-config "config.local.edn"
 :web-server {:web-asset-path "/out"}}
