{:paths ["src"]
 :deps {com.github.seancorfield/honeysql {:mvn/version "2.0.783"}
        com.github.seancorfield/next.jdbc {:mvn/version "1.2.659"}
        com.stuartsierra/component {:mvn/version "1.0.0"}
        org.xerial/sqlite-jdbc {:mvn/version "3.36.0.3"}}}
