{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/test.check {:mvn/version "1.1.1"}

        poly/config {:local/root "../../components/config"}
        poly/flyway {:local/root "../../components/flyway"}
        poly/lacinia-pedestal {:local/root "../../components/lacinia-pedestal"}
        poly/nrepl {:local/root "../../components/nrepl"}
        poly/postgres {:local/root "../../components/postgres"}}}
