{:paths ["src" "resources"]
 :deps {poly/config {:local/root "../../components/config"}
        poly/flyway {:local/root "../../components/flyway"}
        poly/lacinia-pedestal {:local/root "../../components/lacinia-pedestal"}
        poly/nrepl {:local/root "../../components/nrepl"}
        poly/project-api {:local/root "../../components/project-api"}}}
