{:datapub-embedded "true"
 :filestore
 {:type :s3
  :endpoint "us-east-1"
  :bucket-name "test.sysrev.us"}
 :server {:port 0}
 :sysrev-dev-key "***REMOVED***"
 :profile :test
 :max-import-articles 100000
 :max-bulk-invitations 100
 :mock-email true
 :e-util-api-key "***REMOVED***"
 :private-config "config.local.edn"
 :web-server {:web-asset-path "/out-production"}}
