{:datapub-api "http://localhost:8888/api"
 :datapub-embedded "true"
 :datapub-ws "ws://localhost:8888/ws"
 :dbembedded "true"
 :env "test"
 :postgres
 {:dbname "sysrev_test"
  :user "postgres"
  :password ""
  :host "localhost"
  :port 5432}
 :server
 {:port 4131}
 :sysrev-dev-key "***REMOVED***"
 :profile :test
 :max-import-articles 100000
 :max-bulk-invitations 100
 :mock-email true
 :e-util-api-key "***REMOVED***"
 :private-config "config.local.edn"}
