{:postgres
 {:dbname "sysrev_test"
  :user "postgres"
  :password ""
  :host "localhost"
  :port 5432}
 :server
 {:port 4131}
 :profile :test
 :max-import-articles 100000
 :max-bulk-invitations 5
 :mock-email true
 :e-util-api-key "***REMOVED***"
 :private-config "config.local.edn"}
