{:paths ["src/clj" "src/cljc" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.0-beta1"}

;;; clojure.spec
        orchestra/orchestra {:mvn/version "2021.01.01-1"}

;;; Force versions of indirect dependencies
        com.fasterxml.jackson.core/jackson-databind {:mvn/version "2.13.1"}
        commons-io/commons-io {:mvn/version "2.11.0"}
        commons-codec/commons-codec {:mvn/version "1.15"}
        org.apache.commons/commons-compress {:mvn/version "1.21"}
        prismatic/schema {:mvn/version "1.2.0"}

;;; Logging
        org.clojure/tools.logging {:mvn/version "1.2.4"}
        ch.qos.logback/logback-classic {:mvn/version "1.2.10"}
        org.slf4j/jul-to-slf4j {:mvn/version "1.7.36"}

;;; Libraries
        org.clojure/test.check {:mvn/version "1.1.1"}
        org.clojure/math.numeric-tower {:mvn/version "0.0.5"}
        org.clojure/math.combinatorics {:mvn/version "0.1.6"}
        crypto-random/crypto-random {:mvn/version "1.2.1"}
        me.raynes/fs {:mvn/version "1.4.6"}

;;; Data formats
        org.clojure/data.json {:mvn/version "2.4.0"}
        com.cognitect/transit-clj {:mvn/version "1.0.329"}
        org.clojure/data.csv {:mvn/version "1.0.0"}
        org.clojure/data.xml {:mvn/version "0.2.0-alpha6"}
        org.clojure/data.zip {:mvn/version "1.0.0"}
        ;; (clojure-csv/2.0.1 because 2.0.2 changes parsing behavior)
        clojure-csv/clojure-csv {:mvn/version "2.0.1"}

;;; GraphQL
        vincit/venia {:mvn/version "0.2.5"}

;;; Postgres
        com.impossibl.pgjdbc-ng/pgjdbc-ng {:mvn/version "0.8.9"}
        org.clojure/java.jdbc {:mvn/version "0.7.12"}
        joda-time/joda-time {:mvn/version "2.10.13"}
        clj-time/clj-time {:mvn/version "0.15.2" :exclusions [joda-time/joda-time]}
        postgre-types/postgre-types {:mvn/version "0.0.4"}
        clj-postgresql/clj-postgresql {:mvn/version "0.7.0" :exclusions [org.clojure/java.jdbc cheshire/cheshire prismatic/schema]}
        honeysql/honeysql {:mvn/version "0.9.8"}
        nilenso/honeysql-postgres {:mvn/version "0.2.6"}

;;; Web server
        aleph/aleph {:mvn/version "0.4.7-alpha10"}
        com.taoensso/sente {:mvn/version "1.16.2"}
        compojure/compojure {:mvn/version "1.6.2"}
        ring/ring {:mvn/version "1.9.5"}
        ring/ring-defaults {:mvn/version "0.3.3"}
        ring-transit/ring-transit {:mvn/version "0.1.6"}
        ring/ring-json {:mvn/version "0.5.1" :exclusions [cheshire/cheshire]}
        ring/ring-mock {:mvn/version "0.4.0" :exclusions [cheshire/cheshire]} 

;;; profiling
        criterium/criterium {:mvn/version "0.4.6"}

;; amazonica
        amazonica/amazonica {:mvn/version "0.3.159"
                             :exclusions [com.amazonaws/aws-java-sdk
                                          com.amazonaws/amazon-kinesis-client
                                          com.amazonaws/dynamodb-streams-kinesis-adapter
                                          com.fasterxml.jackson.core/jackson-databind
                                          com.fasterxml.jackson.dataformat/jackson-dataformat-cbor
                                          com.taoensso/encore
                                          org.slf4j/slf4j-api]}
        com.amazonaws/aws-java-sdk-core {:mvn/version "1.12.159"}
        com.amazonaws/aws-java-sdk-s3 {:mvn/version "1.12.159"}

;;; More libraries
        buddy/buddy {:mvn/version "2.0.0"} ;; encryption/authentication
        clj-http/clj-http {:mvn/version "3.12.3"}
        com.velisco/clj-ftp {:mvn/version "0.3.17"}
        com.draines/postal {:mvn/version "2.0.5"} ;; email client
        hashp/hashp {:mvn/version "0.2.1"}
        ;; =1.23.0 because version conflict in latest (1.30.2 breaks selenium)
        com.google.api-client/google-api-client {:mvn/version "1.23.0"}
        environ/environ {:mvn/version "1.2.0"}
        bouncer/bouncer {:mvn/version "1.0.1"} ;; validation
        hickory/hickory {:mvn/version "0.7.1"} ;; html parser
        kanwei/sitemap {:mvn/version "0.3.1"} ;; sitemap alternative with clojure.spec fix
        org.clojure/core.async {:mvn/version "1.5.648"}
        org.clojure/core.memoize {:mvn/version "1.0.257"}
        clojurewerkz/quartzite {:mvn/version "2.1.0"}
        gravatar/gravatar {:mvn/version "1.1.1"}

        poly/config {:local/root "components/config"}
        poly/datapub-client {:local/root "components/datapub-client"}
        poly/file-util {:local/root "components/file-util"}
        poly/flyway {:local/root "components/flyway"}
        poly/lacinia {:local/root "components/lacinia"}
        poly/lacinia-pedestal {:local/root "components/lacinia-pedestal"}
        poly/notification {:local/root "components/notification"}
        poly/nrepl {:local/root "components/nrepl"}
        poly/postgres {:local/root "components/postgres"}
        poly/reviewer-time {:local/root "components/reviewer-time"}
        poly/sysrev-api {:local/root "bases/sysrev-api"}
        poly/sysrev-api-client {:local/root "components/sysrev-api-client"}
        poly/user {:local/root "components/user"}
        poly/util-lite {:local/root "components/util-lite"}}
 :aliases
 {:build {:deps {io.github.seancorfield/build-clj
                 {:git/tag "v0.6.7" :git/sha "22c2d09"}}
          :ns-default build}
  :carve {:extra-deps {borkdude/carve {:git/url "https://github.com/borkdude/carve"
                                       :sha "df552797a198b6701fb2d92390fce7c59205ea77"}}
          :main-opts ["-m" "carve.main"]}
  :dev {:extra-paths ["config/dev" "development/src"]
        :extra-deps {poly/cloudformation-templates {:local/root "components/cloudformation-templates"}
                     poly/datapub-import {:local/root "components/datapub-import"}
                     poly/fda-drugs {:local/root "components/fda-drugs"}
                     poly/sqlite {:local/root "components/sqlite"}}}
  :dev-embedded {:extra-paths ["config/dev-embedded"]}
  :eastwood {:extra-deps {jonase/eastwood {:mvn/version "1.2.2"}}
             :main-opts ["-m" "eastwood.lint" "{:source-paths [\"src/clj\" \"src/cljc\"] :exclude-namespaces [sysrev.user"]}
  :poly {:extra-deps {polylith/clj-poly
                      {:deps/root "projects/poly"
                       :git/url "https://github.com/polyfy/polylith.git"
                       :sha "20223297d6ed39ad3c3ed960410dea908c58b5ed"}}
         :main-opts  ["-m" "polylith.clj.core.poly-cli.core"]}
  :prod {:extra-paths ["config/prod" "flyway.conf"]}
  :repl {:main-opts ["-m" "sysrev.user"]}
  :test {:extra-paths ["config/test" "test/clj" "resources/test"]
         :extra-deps {clj-base64/clj-base64 {:git/url "https://github.com/insilica/clj-base64.git"
                                             :sha "4b93fca75dec989eeb212db2aeb054e121ed11eb"}
                      com.opentable.components/otj-pg-embedded {:mvn/version "0.13.4"}
                      eftest/eftest {:mvn/version "0.5.9"}
                      io.zonky.test.postgres/embedded-postgres-binaries-darwin-amd64 {:mvn/version "12.6.0"}
                      io.zonky.test.postgres/embedded-postgres-binaries-linux-amd64 {:mvn/version "12.6.0"}
                      lambdaisland/kaocha {:mvn/version "1.63.998"}
                      lambdaisland/kaocha-cloverage {:mvn/version "1.0.75"}
                      lambdaisland/kaocha-junit-xml {:git/url "https://github.com/insilica/kaocha-junit-xml.git"
                                                     :sha "21421366100ab4aa7e7c6f297fa72ea3d6549428"}
                      prestancedesign/get-port {:mvn/version "0.1.1"}

                      poly/datapub {:local/root "projects/datapub"}
                      poly/datapub-test {:local/root "projects/datapub/datapub-test"}
                      poly/etaoin-test {:local/root "components/etaoin-test"}
                      poly/file-util {:local/root "components/file-util"}
                      poly/fixtures {:local/root "components/fixtures"}
                      poly/junit {:local/root "components/junit"}
                      poly/pdf-read {:local/root "components/pdf-read"}
                      poly/tesseract {:local/root "components/tesseract"}}
         :jvm-opts ["-XX:-OmitStackTraceInFastThrow"]}
  :test-staging {:extra-paths ["config/test-staging"]}
  :test-prod {:extra-paths ["config/test-prod"]}
  :test-s3-dev {:extra-paths ["config/test-s3-dev"]}}}
