## Required
export STRIPE_SECRET_KEY=
export STRIPE_PUBLIC_KEY=
export PAYPAL_URL="https://api.sandbox.paypal.com"
export PAYPAL_CLIENT_ID=
export PAYPAL_SECRET=
export GOOGLE_CLIENT_SECRET=

## Optional
# export SYSREV_REUSE_WEBDRIVER=1
