{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        org.clojure/data.xml {:mvn/version "0.2.0-alpha6"}
        cheshire/cheshire {:mvn/version "5.10.1"}
        clj-http/clj-http {:mvn/version "3.12.3"}
        com.cognitect.aws/api {:mvn/version "0.8.524"},
        com.cognitect.aws/endpoints {:mvn/version "1.1.12.69"}
        com.cognitect.aws/s3 {:mvn/version "814.2.991.0"}
        com.fzakaria/slf4j-timbre {:mvn/version "0.3.21"}
        com.github.seancorfield/honeysql {:mvn/version "2.1.818"}
        com.github.seancorfield/next.jdbc {:mvn/version "1.2.731"}
        com.stuartsierra/component {:mvn/version "1.0.0"}
        com.taoensso/timbre {:mvn/version "5.1.2"}
        com.walmartlabs/lacinia {:mvn/version "1.0"}
        com.walmartlabs/lacinia-pedestal {:mvn/version "1.0"}
        hashp/hashp {:mvn/version "0.2.1"}
        hikari-cp/hikari-cp {:mvn/version "2.13.0"}
        io.replikativ/hasch {:mvn/version "0.3.7"}
        io.staticweb/aws-api-failjure {:mvn/version "1.1.0"}
        medley/medley {:mvn/version "1.3.0"}
        ;; jetty dependencies have to be explicitly manually versioned, or we
        ;; end up with strange, undebuggable exceptions
        org.eclipse.jetty/jetty-alpn-server {:mvn/version "9.4.42.v20210604"}
        org.eclipse.jetty/jetty-client {:mvn/version "9.4.42.v20210604"}
        org.eclipse.jetty/jetty-http {:mvn/version "9.4.42.v20210604"}
        org.eclipse.jetty/jetty-server {:mvn/version "9.4.42.v20210604"}
        org.eclipse.jetty/jetty-servlet {:mvn/version "9.4.42.v20210604"}
        org.eclipse.jetty/jetty-util {:mvn/version "9.4.42.v20210604"}
        org.eclipse.jetty.http2/http2-server {:mvn/version "9.4.42.v20210604"}
        org.eclipse.jetty.websocket/websocket-api {:mvn/version "9.4.42.v20210604"}
        org.eclipse.jetty.websocket/websocket-servlet {:mvn/version "9.4.42.v20210604"}
        org.eclipse.jetty.websocket/websocket-server {:mvn/version "9.4.42.v20210604"}
        org.flywaydb/flyway-core {:mvn/version "8.0.1"}
        org.postgresql/postgresql {:mvn/version "42.2.24"}
        sysrev/config {:local/root "../../components/config"}
        sysrev/file-util {:local/root "../../components/file-util"}
        sysrev/pdf-read {:local/root "../../components/pdf-read"}
        sysrev/tesseract {:local/root "../../components/tesseract"}}
 :aliases {:dev {:extra-paths ["test" "config/dev"]
                 :extra-deps {co.insilica/datapub-test {:local/root "datapub-test"}
                              sysrev/datapub-client {:local/root "../../components/datapub-client"}}}
           :prod {:extra-paths ["config/prod"]}
           :repl {:extra-deps {cider/cider-nrepl {:mvn/version "0.27.2"}
                               nrepl/nrepl {:mvn/version "0.8.3"}}
                  :exec-fn datapub.repl/run-with-fixtures!}
           :test {:extra-paths ["test" "config/test"]
                  :extra-deps {co.insilica/datapub-test {:local/root "datapub-test"}
                               sysrev/datapub-client {:local/root "../../components/datapub-client"}}
                  :exec-fn datapub.test/run-tests}
           :uberjar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.1.303"}}
                     :exec-fn hf.depstar/uberjar
                     :exec-args {:aliases [:prod]
                                 :jar "target/datapub.jar"}}}}
