{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/data.xml {:mvn/version "0.2.0-alpha6"}
        buddy/buddy-sign {:mvn/version "3.4.333"}
        clj-http/clj-http {:mvn/version "3.12.3"}
        com.cognitect.aws/s3 {:mvn/version "822.2.1145.0"}
        com.cognitect.aws/secretsmanager {:mvn/version "822.2.1171.0"}
        com.fzakaria/slf4j-timbre {:mvn/version "0.3.21"}
        com.taoensso/timbre {:mvn/version "5.2.1"}
        hashp/hashp {:mvn/version "0.2.1"}
        io.replikativ/hasch {:mvn/version "0.3.7"}

        poly/aws-client {:local/root "../../components/aws-client"}
        poly/component {:local/root "../../components/component"}
        poly/config {:local/root "../../components/config"}
        poly/contajners {:local/root "../../components/contajners"}
        poly/file-util {:local/root "../../components/file-util"}
        poly/flyway {:local/root "../../components/flyway"}
        poly/json {:local/root "../../components/json"}
        poly/lacinia {:local/root "../../components/lacinia"}
        poly/lacinia-pedestal {:local/root "../../components/lacinia-pedestal"}
        poly/localstack {:local/root "../../components/localstack"}
        poly/medley {:local/root "../../components/medley"}
        poly/nrepl {:local/root "../../components/nrepl"}
        poly/pdf-read {:local/root "../../components/pdf-read"}
        poly/postgres {:local/root "../../components/postgres"}
        poly/shutdown {:local/root "../../components/shutdown"}
        poly/tesseract {:local/root "../../components/tesseract"}
        poly/util-lite {:local/root "../../components/util-lite"}}
 :aliases {:dev {:extra-paths ["test" "config/dev"]
                 :extra-deps {poly/datapub-test {:local/root "datapub-test"}
                              poly/datapub-client {:local/root "../../components/datapub-client"}}}
           :prod {:extra-paths ["config/prod"]}
           :staging {:extra-paths ["config/staging"]
                     :extra-deps {poly/datapub-test {:local/root "datapub-test"}}}
           :test {:extra-paths ["test" "config/test"]
                  :extra-deps {poly/contajners {:local/root "../../components/contajners"}
                               poly/datapub-test {:local/root "datapub-test"}
                               poly/datapub-client {:local/root "../../components/datapub-client"}}
                  :exec-fn datapub.test/run-tests}
           :uberjar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.1.303"}}
                     :exec-fn hf.depstar/uberjar
                     :exec-args {:aliases [:prod]
                                 :jar "target/datapub.jar"}}
           :uberjar-staging {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.1.303"}}
                             :exec-fn hf.depstar/uberjar
                             :exec-args {:aliases [:staging]
                                         :jar "target/datapub.jar"}}}}
