/* some style */

.main-content > .grid {
    padding-top: 10px;
    padding-bottom: 20px;
}

.grid.project-stats {
    font-size: 100%;
}

.grid.project-stats > .row > .column {
    text-align: center;
}

span.attention {
    font-size: 120%;
    font-weight: bold;
    color: green;
    padding: 2px;
}

.auto-margin {
    margin-left: auto !important;
    margin-right: auto !important;
}
