/* some style */

.main-content > .grid {
    padding-top: 10px;
    padding-bottom: 20px;
}

.grid.project-stats {
    font-size: 100%;
}

.grid.project-stats > .row > .column {
    text-align: center;
}

.grid.user-card {
    padding-top: 6px;
    padding-bottom: 6px;
}

span.attention {
    font-size: 100%;
    font-weight: bold;
    color: green;
    padding: 1px;
}

.auto-margin {
    margin-left: auto !important;
    margin-right: auto !important;
}

div.ui.row.segment.user-card-counts {
    padding-left: 7px;
    padding-right: 7px;
}

div.ui.row div.column.user-card-column {
    padding-left: 6px;
    padding-right: 6px;
}

h4 {
    margin-bottom: 0.6rem;
}

.ui.label.article-predict {
    width: 100% !important;
    padding-left: 4px;
    padding-right: 4px;
}

.no-padding {
    padding: 0px !important;
}

.blue-text {
    color: rgba(64, 121, 191, 1) !important;
}

div.user-info .ui.table thead tr th,
div.user-info .ui.table tbody tr td
{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.ui.horizontal.divided.list > .item.label-tag-list
{
    padding-left: 5px;
    padding-right: 5px;
}

.ui.label.small {
    padding-left: 7px;
    padding-right: 7px;
}

div.ui.segment.label-section-header {
    padding-left: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

@media only screen and (max-width: 1000px) {
    .ui.segment {
        padding: 0.5em;
    }

    .ui.menu .item,
    .ui.menu .menu .item {
        padding-left: 8px;
        padding-right: 8px;
    }

    .ui.table.mobile-table thead tr th,
    .ui.table.mobile-table tbody tr td {
        padding: 0.4em;
    }

    .content.confirm-modal h3 {
        font-size: 1.0em;
    }
}
