{:paths ["src"]
 :deps {clj-time/clj-time {:mvn/version "0.15.2"}
        crypto-random/crypto-random {:mvn/version "1.2.1"}
        honeysql/honeysql {:mvn/version "1.0.461"}
        lambdaisland/regal {:mvn/version "0.0.143"}

        poly/medley {:local/root "../medley"}}
 :aliases {:test {:extra-paths ["test"]}}}
