{:paths ["src"]
 :deps {com.cognitect.aws/api {:mvn/version "0.8.539"},
        com.cognitect.aws/endpoints {:mvn/version "1.1.12.186"}
        io.staticweb/aws-api-failjure {:mvn/version "1.1.0"}

        poly/component {:local/root "../component"}}}
