.open-sans {
    font-family: 'Open Sans',Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-style: normal;
}

a { color: @blue; }
a:hover { color: darken(@blue, 8); }

#toplevel {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

#main-content {
    padding-bottom: 30px;
}

#footer {
    .open-sans;
    font-size: 13px;
    margin: 0;
    height: 36px;
    border-top: 1px solid @footerBorder;
    background-color: @footerBackground;
    margin-top: auto;

    i { font-size: 14px; }

    .ui.container {
        height: 100%;
    }

    .ui.grid {
        margin: 0;
        height: 100%;

        > .column {
            padding-top: 0.3em !important;
            padding-bottom: 0.3em !important;
        }

        > .right.aligned.column {
            > div.wrapper {
                margin-right: -0.6em;

                a, span {
                    padding: 0 0.7em;
                }

                span.links { padding: 0; }
            }
        }
    }
}

.ui.segment.welcome-msg {
    text-align: center;
    padding: 1.5em 1em;
    > div.wrapper {
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
        text-align: left;

        p {
            font-size: 14px;
            span.site-name {
                font-size: 17px;
                .bold;
            }
        }
        p:first-child { margin-top: 0; }
        p:last-child { margin-bottom: 0; }
    }
}

@media only screen and (max-width: 767px) {
    .landing-page {
        .ui.stackable.grid {
            > .row {
                > .column.public-projects {
                    padding-top: 0 !important;
                }
            }
        }

        .ui.segment.welcome-msg {
            padding: 0.8em;
            > div.wrapper {
                p {
                    margin: 0 0 0.5em;
                    font-size: 13px;
                    span.site-name {
                        font-size: 16px;
                    }
                }
            }
        }
    }

    #footer {
        font-size: 12px;
        height: 32px;

        i { display: none; }

        .ui.grid {
            margin: 0 -0.5em;
            > .column {
                padding: 0.4em 0.5em !important;
            }
            > .right.aligned.column {
                > div.wrapper {
                    a, span {
                        padding: 0 0.4em;
                    }
                }
            }
        }
    }
}

.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0px !important;
}

.blue-text {
    color: @blue !important;
}

.green-text {
    color: @green !important;
}
.orange-text {
    color: @orange !important
}

.black-text {
    color: @text !important;
}

.medium-weight {
    font-weight: 600;
}

.bold {
    font-weight: bold !important;
}

.auto-margin {
    margin-left: auto !important;
    margin-right: auto !important;
}

.inline-block {
    display: inline-block !important;
}

.flex-center-children {
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

h4 {
    margin-bottom: 0.6rem;
}

.ui.menu i.fitted.icon {
    margin: 0;
}

.field.success .ui.input input {
    // background-color: rgba(220,255,220,1.0);
    background-color: mix(@inputBackground, @green, 80%);
}

.ui.label.small {
    padding-left: 7px;
    padding-right: 7px;
}

.tooltip-dark-text {
    font-size: 14px;
    color: @darkText;
}

.ui.popup.tooltip {
    .tooltip-dark-text;

    .ui.header {
        .tooltip-dark-text;
    }
}

.ui.inverted.popup.tooltip {
    color: @lightText;
}

span.attention {
    font-size: 100%;
    font-weight: bold;
    color: green;
    padding: 1px;
}

.ui.basic.orange.label,
.ui.basic.green.label,
.ui.basic.blue.label,
.ui.basic.purple.label,
.ui.basic.red.label,
.ui.basic.yellow.label {
    background: 0 0 !important;
}

.ui.black.button {
    background-color: @blackButtonBackground;
}
.ui.grey.button {
    background-color: @greyButtonBackground;
}

.ui.selection.dropdown {
    min-width: 0;
}

@media only screen and (max-width: 767px) {
    .ui.form .fields.mobile-group {
        flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
    }

    .ui.form .fields .field,
    .ui.form .field {
        margin-bottom: 7px !important;
    }
}

@media only screen and (min-width: 1160px) {
    .ui.container {
        width: 1127px;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

@media only screen and (max-width: 1159px) and (min-width: 992px) {
    .ui.container {
        width: 975px;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

.ui.list > .item .description {
    color: @text;
}

@media only screen and (max-width: 900px) {
    body {
        font-size: 13px;
    }

    /*
    .ui.container {
        margin-left: 0.8em !important;
        margin-right: 0.8em !important;
    }
    */

    .ui.segment {
        padding: 0.6em;
    }

    .ui.segment > .ui.grid {
        margin: -0.5em;
    }

    .ui.grid.segment {
        padding: 0;
    }

    .ui.large.menu {
        font-size: 14px;
    }

    h5 {
        font-size: 13px;
    }

    .ui.label,
    .ui.large.label {
        padding: 0.5em;
        font-size: 12px;
    }

    h3 > i.icon {
        font-size: 20px !important;
        margin-bottom: 1px;
    }

    .ui.small.button {
        padding-left: 0.85em;
        padding-right: 0.85em;
        padding-top: 0.75em;
        padding-bottom: 0.75em;
    }
}

.column.vertical-column {
    height: 100%;
}

.column.vertical-column > div.ui.grid {
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;
}

.column.vertical-column > div.ui.grid > .row {
    padding: 0;
}

.column.vertical-column > div.ui.grid > .row > .column {
    padding-top: 0;
    padding-bottom: 0;
}

.column.vertical-column > div.ui.grid > .row > .column > .vertical-column-content {
    vertical-align: middle;
}

.column.vertical-column > div.ui.grid > .row > .column > .vertical-column-content.top {
    vertical-align: top;
}

div.ui.segment > h4.ui.header {
    margin-top: 0;
}

.ui.segments > .ui.no-padding.segment > .ui.button,
.ui.segments > .ui.no-padding.segment > .ui.buttons > .ui.button,
.ui.attached.no-padding.segment > .ui.button,
.ui.attached.no-padding.segment > .ui.buttons > .ui.button {
    padding-top: 0.55em;
    padding-bottom: 0.55em;
}

.ui.segments {
    > .ui.attached.segment {
    }

    > .ui.bottom.attached.segment {
        border-bottom: 0;
    }

    > .ui.top.attached.segment {
        border-top: 0;
    }
}

.ui.dimmer {
    border-radius: 4px;
}

.ui.modal > i.close.icon {
    color: @darkText;
}

.ui.page.modals {
    > .ui.fullscreen.modal {
        margin-left: auto !important;
        margin-right: auto !important;
        position: static;
        > .content {
        }
    }
}

.ui.fluid.right.labeled.icon.button {
    padding-left: 1.2em !important;
    padding-right: 3.75em !important;
}

/*
div:focus, a:focus, input:focus, form:focus, span:focus {
    border: 2px solid red !important;
}
*/

.field .ui.checkbox label {
    .noselect;
}
