@text: rgba(0, 0, 0, 0.925);
@invertedText: rgba(230, 230, 230, 0.925);
@green: rgba(33, 186, 69, 1);
@blue: rgba(64, 121, 191, 1);
@mediumGrey: rgba(100, 100, 100, 1);

@background: rgba(255, 255, 255, 1.0);
@background1: rgba(242, 242, 242, 1.0);
@background2: rgba(230, 230, 230, 1.0);

@inputBackground: @background;
