@darkText: rgba(45, 45, 45, 0.925);
@lightText: rgba(230, 230, 230, 0.925);

@mutedDarkText : rgba(75, 75, 75, 0.85);
@mutedLightText: rgba(200, 200, 200, 0.85);

@text: @lightText;
@invertedText: @darkText;

@mutedText: @mutedLightText;
@mutedInvertedText: @mutedDarkText;

@green: rgba(33, 186, 69, 1);
@blue: #2185d0;
@mediumGrey: rgba(100, 100, 100, 1);
@lightGrey: rgba(130, 130, 130, 0.75);

@pageBackground : rgba(55, 55, 55, 1.0);
@background: lighten(@pageBackground, 5);
@background1: lighten(@pageBackground, 12);
@background2: lighten(@pageBackground, 20);
@background01: lighten(@pageBackground, 8);
@background02: lighten(@pageBackground, 10);

@blueBackground: screen(@background, rgba(50,100,160,1.0));
@greenBackground: screen(@background, rgba(60,140,60,1.0));
@redBackground: screen(@background, rgba(140,60,60,1.0));
@purpleBackground: screen(@background, rgba(100,60,140,1.0));

@warningBackground: @redBackground;

@inputBackground: @background;

@menuActiveBorder: @blue;
@menuActiveBackground: rgba(255,255,255,0.75);
@secondaryMenuColor: fadeout(@lightText, 10%, relative);
@secondaryMenuActiveColor: rgba(245, 245, 245, 0.925);

@blackButtonBackground: rgba(34, 35, 36, 1.0);
@greyButtonBackground: rgba(118, 118, 118, 1.0);

@internalBorderColor: rgba(34, 36, 38, 0.1);
