@darkText: rgba(35, 35, 35, 0.925);
@lightText: rgba(230, 230, 230, 0.925);

@mutedDarkText: rgba(60, 60, 60, 0.85);
@mutedLightText: rgba(200, 200, 200, 0.85);

@fadedDarkText: rgba(100, 100, 100, 0.3);
@fadedLightText: rgba(160, 160, 160, 0.3);

@text: @darkText;
@invertedText: @lightText;

@mutedText: @mutedDarkText;
@mutedInvertedText: @mutedLightText;

@fadedText: @fadedDarkText;
@fadedInvertedText: @fadedLightText;

@green: rgba(33, 186, 69, 1);
@orange: #f2711c;
@blue: rgba(64, 121, 191, 1);
@brightBlue: rgba(70, 150, 250, 1);
@mediumGrey: rgba(100, 100, 100, 1);
@lightGrey: rgba(130, 130, 130, 0.75);

@pageBackground: rgba(240,241,243,1.0);
@background: rgba(255, 255, 255, 1.0);
@menuBackground: @background;
@background1: rgba(246, 246, 246, 1.0);
@background2: rgba(230, 230, 230, 1.0);
@partialSegmentBackground: rgba(248,249,250,1.0);
@secondarySegmentBackground: #f3f4f5;

@blueBackground: rgba(230,245,255,0.6);
@greenBackground: rgba(235,255,225,0.5);
@redBackground: rgba(255,235,235,0.5);
@purpleBackground: rgba(235,215,255,0.5);

@warningBackground: @redBackground;

@inputBackground: @background;
@disabledInputBackground: rgba(235,235,235,1.0);

@menuActiveBorder: @blue;
@menuActiveBackground: rgba(240,240,240,1);
@secondaryMenuColor: @text;
@secondaryMenuActiveColor: @text;

@blackButtonBackground: rgba(34, 35, 36, 1.0);
@greyButtonBackground: rgba(144, 144, 144, 1.0);

@internalBorderColor: rgba(34, 36, 38, 0.14);
@solidInternalBorderColor: rgba(34, 36, 38, 0.14);

@buttonBackground: rgb(224, 225, 226);

.ui.menu
// .ui.segment,
// .ui.segments,
// .ui.message
{
    box-shadow: none !important;
}
