{:paths ["resources"]
 :deps {clj-gatling/clj-gatling {:mvn/version "0.17.2"}
        com.cognitect/test-runner
        {:git/url "https://github.com/cognitect-labs/test-runner.git"
         :sha "cc75980b43011773162b485f46f939dc5fba91e4"}
        com.opentable.components/otj-pg-embedded {:mvn/version "0.13.4"}
        http-kit/http-kit {:mvn/version "2.5.3"}
        io.zonky.test.postgres/embedded-postgres-binaries-darwin-amd64 {:mvn/version "13.3.0"}
        io.zonky.test.postgres/embedded-postgres-binaries-linux-amd64 {:mvn/version "13.3.0"}}}
