[Unit]
Description=Clojure web server for sysrev
After=network.target postgresql.service

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/data/sysrev
ExecStart=/bin/bash /data/sysrev/sysrev-web.sh
Restart=always

[Install]
WantedBy=default.target
