[Unit]
Description=Start listener processes for sysrev web deploys
After=network.target sysrev-web.service

[Service]
Type=forking
User=ubuntu
ExecStart=/data/sysrev/scripts/watch-deploy
ExecStop=
Restart=always

[Install]
WantedBy=default.target
