{:postgres
 {:dbname "sysrev"
  :user "postgres"
  :password ""
  :host "localhost"
  :port 5471}
 :server
 {:port 4132}
 :selenium
 {:protocol "https"
  :host "staging.sysrev.us"}
 :profile :remote-test
 :private-config "config.local.edn"}
