{:paths ["src"]
 :deps {poly/datapub-client {:local/root "../datapub-client"}
        poly/medley {:local/root "../medley"}
        poly/lacinia {:local/root "../lacinia"}
        poly/postgres {:local/root "../postgres"}}}
