.ui.segments.annotation-menu {
    height: 100% !important;
    overflow-y: auto;

    > .ui.segment {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
    > .ui.segment.menu-header {
        margin: 0;
        padding: 0;
        > .ui.fluid.label {
            font-weight: normal;
            color: @text;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
    > .ui.segment:last-child {
        height: 100%;
    }
}

.ui.segments.annotation-menu.abstract {
}

.ui.segments.annotation-menu.pdf {
    width: 100%;
    margin-top: -1px;
}

@media only screen and (min-width: 1440px) {
    .main-content.annotator {
        .ui.container {
            width: 1430px;
            margin-left: auto !important;
            margin-right: auto !important;
        }
    }
}

@media only screen and (min-width: 1100px) and (max-width: 1439px) {
    .main-content.annotator {
        .ui.container {
            width: 100%;
            padding-left: 5px;
            padding-right: 5px;
        }
    }
}

.main-content.annotator {
    > .ui.container.panel-content {
        > .ui.grid {
            margin-left: 0;
            margin-right: 0;
            > .column {
                padding: 1em 0.5em 1em 0.5em;
            }
        }
    }
}

.ui.button.add-annotation-popup {
    // position: relative;
    position: absolute;
    z-index: 100;
    display: block !important;
    font-size: 15px;
    min-width: 160px;
    text-align: center;
    margin: 0;
}

.ui.button.add-annotation-popup.dark-theme {
}

.annotation-view {
    .ui.form.edit-annotation,
    .ui.form.view-annotation {
        > div.field {
            margin-bottom: 0.5em;
        }
        > div.field.buttons {
            margin-top: 1em;
            margin-bottom: 0;
            > div.fields {
                margin-bottom: 0;
            }
        }
    }

    .ui.form.edit-annotation {
        input.ui.disabled {
            background-color: @disabledInputBackground;
            opacity: 0.95;
        }
    }

    .ui.form.view-annotation {
    }

    .ui.label.selection-label {
        font-size: 12px;
    }
    .ui.label.selection-label.new-annotation {
        border: 2px solid @brightBlue;
    }
}
