div.article-list-article.active {
    background-color: mix(@background, @text, 92);
}

div.article-list-article.active:hover {
    background-color: mix(@background, @text, 88);
}

div.article-list-article:hover {
    background-color: mix(@background, @text, 96);
}

div.article-list-article .article-title {
    font-weight: bold;
}

div.article-list-article {
    padding-top: 10px;
    padding-bottom: 10px;
}

div.article-list-article div.ui.row {
    padding-top: 0px;
    padding-bottom: 0px;
}

div.article-list-article div.ui.column.article-title {
    padding: 10px;
}

div.article-list-segments {
    margin-top: 10px;
    margin-bottom: 10px;
}

div.ui.segment.article-list-segment {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}

div.ui.column.article-answers {
    height: 100%;
}
div.ui.column.article-answers>div.ui.grid {
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;
}
div.ui.column.article-answers>div.ui.grid>div.row {
    padding-top: 5px;
    padding-bottom: 5px;
}
div.article-answers.single {
    background-color: @blueBackground;
}
div.article-answers.consistent {
    background-color: @greenBackground;
}
div.article-answers.conflict {
    background-color: @redBackground;
}
div.article-answers.resolved {
    background-color: @purpleBackground;
}

div.article-filters>form.ui.form {
    margin-bottom: -1em;
}

@media only screen and (max-width: 900px) {
    div.ui.column.article-answers>div.ui.grid>div.row>div.column {
        padding-left: 10px;
        padding-right: 10px;
    }
}
