.article-list-view > .ui.segment.article-nav,
.article-view > .ui.segment.article-nav {
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 12px;
    padding-right: 12px;
}

.ui.segments > .ui.grid.segment.article-list-article {
    margin: 0;
    border-bottom-width: 1px;
    border-bottom-color: @lightGrey;
}

.ui.segments > .ui.grid.segment.article-list-article:last-child {
    border-bottom-width: 0px;
}

a.article-list-article {
    color: @text;
}

.article-list-article {
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
}

.article-list-article.article-loading .ui.row {
    visibility: hidden;
}

.article-list-article.active {
    background-color: mix(@background, @text, 94);
}

.article-list-article.active:hover {
    background-color: mix(@background, @text, 91);
}

.article-list-article:hover {
    background-color: mix(@background, @text, 96);
}

.article-list-article .article-title {
    .medium-weight;
}

.article-list-article div.ui.row {
    padding-top: 0px;
    padding-bottom: 0px;
}

.article-list-article div.column.article-title {
    padding: 10px;
}

.article-list-article .ui.row.user-article {
    padding: 10px;
}

div.ui.segments.article-list-segments {
    margin-top: 10px;
    margin-bottom: 10px;
}

div.ui.segments.article-list-segments > div.ui.segment {
    border-left: 0;
}

div.column.article-answers {
    height: 100%;
}
div.column.article-answers>div.ui.grid {
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;
}
div.column.article-answers>div.ui.grid>div.row {
    padding-top: 5px;
    padding-bottom: 5px;
}
div.article-answers.single {
    background-color: @blueBackground;
}
div.article-answers.consistent {
    background-color: @greenBackground;
}
div.article-answers.conflict {
    background-color: @redBackground;
}
div.article-answers.resolved {
    background-color: @purpleBackground;
}

.ui.grid.article-list-article .row div.column.article-updated-time {
    padding-left: 0;
    padding-right: 0;
}

div.article-filters > .ui.form {
    margin-bottom: -1em;
}

.article-list-article > div.ui.row i.right.chevron.icon {
    color: @text;
}

div.article-filters .ui.buttons.three-state-icon .ui.button {
    text-align: center;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    padding-left: 0.7em;
    padding-right: 0.7em;
}

div.article-filters .ui.buttons.three-state-icon .ui.button i.icon {
    font-size: 17px;
}

.article-list-article .ui.list>.item .header {
    color: @text !important;
}

.article-list-article div.article-title div.ui.fitted.divider {
    margin-top: 0.6em;
    margin-bottom: 0.6em;
}

@media only screen and (max-width: 767px) {
    .article-filters .ui.form .field .refresh-button,
    .article-filters .ui.form .field .reset-button {
        margin-top: 4px;
        margin-bottom: 6px;
    }
}

@media only screen and (max-width: 900px) {
    div.column.article-answers >div.ui.grid > div.row > div.column {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 13px;
    }

    div.column.article-answers > div.ui.grid > div.row > div.column > .ui.list > .item > div.content {
        padding-left: 3px;
    }

    .article-list-view > .ui.segment.article-nav,
    .article-view > .ui.segment.article-nav {
        padding: 0.3em;
    }

    .article-view > .ui.segment.article-nav > .ui.grid > .column,
    .article-list-view > .ui.segment.article-nav > .ui.grid > .column {
        padding: 0.75em;
    }

    .article-list-view > .ui.segment.article-nav > .ui.grid > .right.aligned.column {
        padding-left: 0;
        padding-right: 0.5em;
    }

    .article-view > .ui.segment.article-nav > .ui.grid > .left.aligned.column h5,
    .article-list-view > .ui.segment.article-nav > .ui.grid > .left.aligned.column h5 {
        font-size: 12px;
    }

    .article-view > .ui.segment.article-nav > .ui.grid > .right.aligned.column .ui.tiny.button,
    .article-list-view > .ui.segment.article-nav > .ui.grid > .right.aligned.column .ui.tiny.button {
        font-size: 10px;
        padding: 0.75em;
    }

    div.article-filters .ui.buttons,
    div.article-filters .ui.button {
        font-size: 12px;
    }

    div.article-filters div.ui.selection.dropdown,
    div.article-filters div.ui.selection.dropdown div.text,
    div.article-filters div.ui.selection.dropdown div.menu,
    div.article-filters div.ui.input,
    div.article-filters div.ui.input input[type=text],
    div.article-filters div.ui.input i.icon
    {
        font-size: 12px;
    }

    div.article-filters .ui.buttons.three-state-icon .ui.button i.icon {
        font-size: 12px;
    }

    div.article-filters .ui.form .field .fields {
        margin-top: 0;
        margin-bottom: 0.5em;
    }

    div.article-filters .ui.form .field .fields .field {
        padding-top: 0.25em;
        padding-bottom: 0.25em;
    }

    .article-list-article .ui.row.user-article {
        padding: 0.6em;
    }

    .article-list-article .ui.row.user-article > .column {
        padding: 0;
    }

    .article-list-article .ui.row.user-article > .column > .grid {
        margin: -0.6em;
    }

    .article-list-article .ui.row.user-article > .column > .ui.fitted.divider {
        margin-top: 0.3em;
        margin-bottom: 0.3em;
    }

    .article-list-article .ui.row.user-article > .column > .grid > .row {
        padding-top: 0.8em;
        padding-bottom: 0.8em;
    }

    .article-list-article .ui.row.user-article > .column > .grid > .row > .column {
        padding-left: 0.6em;
        padding-right: 0.6em;
    }

    .article-list-article .ui.row.user-article > .column > .grid > .row > .column.label-values {
        margin-left: -3px;
    }

    .article-list-article .ui.row.user-article > .column > .grid > .row > .right.aligned.column {
        padding-left: 0;
    }

    .article-list-article .ui.row.user-article > .column > .grid > .row > .right.aligned.column > .ui.label {
        margin-top: 1px;
        margin-bottom: 2px;
    }

    .article-list-article .article-title {
        font-size: 12px;
    }

    .article-list-article .article-title div.ui.tiny.label {
        margin-left: 5px;
        margin-top: 1px;
        margin-bottom: 1px;
    }
}
