.ui.celled.grid.segment.label-section {
    margin: 0;
    border-left: none;
    border-right: none;
}

.ui.label.article-predict {
    width: 100% !important;
    padding-left: 4px;
    padding-right: 4px;
}

.grid.popup.label-help {
    min-width: 22em;
    padding: 0;
    background-color: rgba(230,230,230,1.0);
    border: 1px solid rgba(140,140,140,1.0);
}

.grid.popup.label-help .row {
    border: 0;
}

.grid.popup.label-help .row.label-help-header {
    font-size: 90%;
    font-weight: bold;
    padding: 3px;
    background-color: rgba(100,100,100,1.0);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: white;
    border: 0;
}

.grid.popup.label-help .row.label-help-bottom {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.grid.popup.label-help .row {
    padding: 0.5em;
}

.grid.popup.label-help .row.label-help-question {
    color: black;
    font-size: 13px;
}

.grid.popup.label-help .row.label-help-tag {
    font-size: 100%;
    font-weight: bold;
    padding: 3px;
    background-color: rgba(100,100,100,1.0);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border: 0;
}

.field.notes label.notes {
    margin-bottom: 0.25em;
}

.field.notes label.notes i.icon {
    margin-left: 0.25em !important;
    margin-bottom: 0.2em !important;
}

div.ui.segment.label-values {
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    padding-left: 0.75em;
    padding-right: 0.75em;
}
div.ui.segment.labeled-notes {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.9em;
    padding-right: 0.9em;
}

div.ui.segment.labeled-notes > div.ui.labeled.button > .ui.basic.label {
    font-weight: normal;
}

div.article-labels-view > .ui.segment {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.75em;
    padding-right: 0.75em;
}
div.article-labels-view > .ui.segment > .ui.dividing.header {
    margin-bottom: 7px;
    padding-top: 2px;
    padding-bottom: 4px;
}
div.article-labels-view > .ui.segment > .ui.dividing.header > .ui.tiny.label {
    padding-top: 4px;
    padding-bottom: 4px;
}
div.article-labels-view > .ui.segment > div.notes {
    margin-top: 4px;
    margin-left: 3px;
}
div.article-labels-view > .ui.segment > div.notes > .ui.divider {
    margin-top: 7px;
    margin-bottom: 7px;
}
div.article-labels-view > .ui.segment > div.notes > .ui.labeled.button > .ui.basic.label {
    font-weight: normal;
}

.ui.segment.article-status {
    padding: 0.5em;
}
.ui.segment.article-status > h3 {
    margin: 0;
    font-size: 15px;
}

.ui.labeled.button.label-answer-tag {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 3px;
    margin-right: 3px;
}

.ui.labeled.button.label-answer-tag > .ui.button,
.ui.labeled.button.label-answer-tag > .ui.basic.label,
.ui.labeled.button.user-note > .ui.button,
.ui.labeled.button.user-note > .ui.basic.label,
.labeled-notes > .ui.labeled.button > .ui.button,
.labeled-notes > .ui.labeled.button > .ui.basic.label {
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 0.9rem;
}

div.article-info-header > .ui.fluid.button {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    text-align: left;
    font-size: 18px;
    padding: 0.5em;
    padding-left: 1em;
}

@media only screen and (max-width: 900px) {
    .ui.label-section.grid.segment {
        padding: 0;
    }

    .ui.label-section.segment {
        user-select: none! important;
    }

    .ui.segment.article-status > h3 {
        margin: 0;
        font-size: 14px;
    }

    div.ui.segment.label-values {
        padding-top: 0.4em;
        padding-bottom: 0.4em;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    .ui.labeled.button.label-answer-tag > .ui.button,
    .ui.labeled.button.label-answer-tag > .ui.basic.label,
    .ui.labeled.button.user-note > .ui.button,
    .ui.labeled.button.user-note > .ui.basic.label,
    .labeled-notes > .ui.labeled.button > .ui.button,
    .labeled-notes > .ui.labeled.button > .ui.basic.label {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        padding-left: 0.75em;
        padding-right: 0.75em;
        font-size: 0.9rem;
    }

    div.ui.segment.labeled-notes {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        padding-left: 0.75em;
        padding-right: 0.75em;
    }

    div.article-labels-view > .ui.segment {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    div.article-info-header > .ui.large.fluid.button {
        padding: 10px;
    }
}
