.article-list-toplevel {
    .ui.segments {
        > .ui.grid.segment.article-list-article {
            margin: 0;
        }
        > .ui.grid.segment.article-list-article.with-labels {
            border-top-width: 8px;

            .column.article-entry > .ui.grid.article-main > .row {
                border-bottom: 1px solid @solidInternalBorderColor;
            }
        }
        > .ui.grid.segment.article-list-article.with-labels.expanded {
            .column.article-entry > .ui.grid.article-main > .row {
                border-bottom: 0;
            }
        }
        > .ui.grid.segment.article-list-article.first,
        > .ui.grid.segment.article-list-article.with-labels.first {
            border-top-width: 1px;
        }
        > .ui.grid.segment.article-list-article:last-child {
            border-bottom-width: 0px;
        }
        > .ui.grid.segment.article-list-article-extra {
            padding: 0.5em;
        }
        > .ui.grid.segment.article-list-full-article {
            margin: 0;
            padding-top: 1em;
            padding-bottom: 1em;
            padding-left: 1em;
            padding-right: 1em;
            min-height: 60px;

            background-color: @partialSegmentBackground;
            .ui.active.inverted.dimmer {
                background-color: @partialSegmentBackground;
            }

            > div {
                padding: 0;
            }
        }
        > .ui.segment.article-nav {
            border-top: 0;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
        }
        > .ui.dimmer {
            background-color: fadeout(@pageBackground, 40%);
        }
    }

    a.article-list-article {
        color: @text;
        cursor: pointer;

        .article-title {
            // .medium-weight;
            font-size: 13px;
            .noselect;
        }

        .ui.segment.article-labels {
            margin: 0.7rem -0.4rem;
            padding: 0.4rem 0.5rem;
            background-color: @partialSegmentBackground;
        }

        > .row {
            padding-top: 0px;
            padding-bottom: 0px;

            > .column.article-entry {
                > .ui.grid.article-main {
                    margin-top: 0;
                    margin-bottom: 0;
                    > .row {
                        padding-top: 0px;
                        padding-bottom: 0px;
                        > .column.article-title .grid .column.article-updated-time {
                            padding-left: 0;
                            padding-right: 8px;
                        }
                    }
                }

                > div.article-labels, > div.article-notes {
                    > .ui.divider {
                        margin: 0.5rem 0;
                    }
                }
            }

            > .column.article-entry.with-labels {
            }
        }

        .column.article-title {
            padding: 0.75em 1em 0.75em 1em;
        }

        .ui.row.user-article {
            padding: 10px;
        }

        > div.ui.row i.chevron.icon {
            color: @text;
        }

        .ui.list > .item .header {
            color: @text !important;
        }

        div.article-title div.ui.fitted.divider {
            margin-top: 0.6em;
            margin-bottom: 0.6em;
        }
    }
    .article-list-article.active {
        background-color: mix(@background, @text, 94);
    }
    .article-list-article.active:hover {
        background-color: mix(@background, @text, 91);
    }
    .article-list-article:hover {
        background-color: mix(@background, @text, 96);
    }
    .article-list-article.article-loading {
        .ui.row {
            visibility: hidden;
        }
    }

    div.ui.segments.article-list-segments {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    div.column.article-answers {
        font-size: 13px;
        height: 100%;

        > div.ui.grid {
            margin-top: 0;
            margin-bottom: 0;
            height: 100%;

            > div.row {
                padding-top: 5px;
                padding-bottom: 5px;
                border-left: 1px solid @solidInternalBorderColor;

                > div.column {
                    padding: 0 0.8em;

                    .item > .content {
                        text-align: left;
                    }
                }
            }
        }

        .item > .content > .header {
            font-weight: normal;
        }
    }
    .article-answers.single {
        background-color: @blueBackground;
    }
    .article-answers.consistent {
        background-color: @greenBackground;
    }
    .article-answers.conflict {
        background-color: @redBackground;
    }
    .article-answers.resolved {
        background-color: @purpleBackground;
    }

    .article-filters-row {
        > .ui.form {
        }
        .ui.bottom.attached.segment {
            margin-bottom: 1em !important;
        }
        .ui.segment.filters-content {
            padding: 0.7em;
            padding-top: 0.4em;
            padding-bottom: 0.1em;
        }
        .ui.segment.filters-minimal {
            > .row {
                padding-top: 0;
                padding-bottom: 0;

                > .column.filters-header {
                    font-size: 15px;
                    padding-top: 12px;
                    padding-bottom: 12px;
                    background-color: rgba(128,128,128,0.1);
                    border-top-left-radius: 4px;
                }
                > .column.filters-summary {
                    padding-left: 0.7em;

                    .ui.label {
                        font-size: 13px;
                    }
                }
                > .column.control-buttons {
                    padding-right: 0.2em;
                }
            }
        }
        .ui.buttons.three-state-icon .ui.button {
            text-align: center;
            padding-top: 0.7em;
            padding-bottom: 0.7em;
            padding-left: 0.7em;
            padding-right: 0.7em;

            i.icon {
                font-size: 17px;
            }
        }
        .ui.form .field.control-buttons {
            padding-right: 0;

            .ui.button {
            }
        }
    }

    div.article-filters-column {
        margin-top: 0px;

        > .ui.segment {
            padding: 3px 8px 5px 8px;

            .ui.form, .ui.form > .field, .ui.form > .field > .inner {
                > .ui.grid {
                    margin: 0 -0.25em 0 -0.25em;

                    > .column {
                        padding: 0 0.25em 0 0.25em;
                    }
                }
            }
        }

        .ui.button {
            font-size: 13px;
        }

        .ui.tiny.button {
            padding: 8px;
        }

        .ui.icon.button {
            padding-top: 8px;
            padding-bottom: 8px;
        }

        .field > label {
            margin-bottom: 3px;
        }

        > .ui.segment.filters-content {
            // padding-top: 7px;
            div.inner {
                > div.ui.label,
                > div.ui.fluid.button {
                    margin-top: 5px;
                    margin-bottom: 5px;
                }
            }

            .ui.form.new-filter, .ui.grid.reset-reload {
                margin-top: 5px;
                margin-bottom: 5px;
            }
        }

        > .ui.header.segment {
            padding-top: 0.5em;
            padding-bottom: 0.5em;
        }
        > a.ui.grid.segment.collapse-header,
        > div.ui.grid.segment.expand-filters {
            > .column {
                padding: 0;
                > i.icon {
                    padding: 0;
                }
            }
        }
        > div.ui.grid.segment.expand-filters {
            padding-top: 0.5em;
            padding-bottom: 0.5em;
        }
        > a.ui.segment.collapse-header {
            cursor: pointer;
        }
        > a.ui.segment.collapse-header:hover {
            background-color: mix(@background, @text, 90);
        }
        > .ui.button.expand-filters {
            padding-top: 1.5em;
            padding-bottom: 1.5em;
        }

        div.ui.segment.edit-filter {
            padding: 5px;
            margin: 8px -2px;
            background-color: @partialSegmentBackground;
            > .ui.form {
                > .field, > .field > .fields {
                    margin-bottom: 3px;
                }

                .field > label {
                    margin-bottom: 1px;
                }

                .field.edit-buttons {
                    margin-top: 10px;
                }

                .field.filter-negation {
                    .ui.fluid.buttons {
                        > .ui.button {
                            width: 50%;
                        }
                    }
                }
            }
        }

        input.ui.input,
        .ui.input > input,
        .ui.dropdown,
        .ui.dropdown > div.text {
            font-size: 13px;
        }

        .ui.selection.dropdown {
            // padding: 8px 22px 8px 8px;
            padding: 9px 24px 9px 9px;
            min-height: 2.4em;

            > input {
                // padding: 8px 22px 8px 8px;
                padding: 9px 24px 9px 9px;
            }
            > i.icon {
                padding: 8px 6px 8px 6px;
            }
        }

        .ui.dropdown > .menu {
            font-size: 13px;
            > .item {
                font-size: 13px;
                padding: 0.7rem 0.9rem !important;
            }
        }

        .ui.labeled.button.toggle {
            > .icon {
                width: 2.2em;
            }
        }

        .filter-presets {
            .ui.button {
                font-size: 12px;
            }
        }

        .display-options {
            .ui.labeled.icon.button {
                padding-left: 2.6em !important;
                padding-right: 0.7em !important;
                margin: 2px 0;
            }
        }

        .sort-options {
            .fields {
                margin-bottom: 0;
            }
            .ui.button {
                padding: 0.75em 0.5em;
            }
        }
    }

    div.ui.segments.article-filters-column.collapsed > div.segment {
        padding-left: 0.25em;
        padding-right: 0.25em;
    }

    div.ui.segments.article-filters-column.collapsed,
    div.ui.segments.article-filters-column.collapsed > div.segment {
        cursor: pointer;
    }

    div.ui.segments.article-filters-column.collapsed:hover,
    div.ui.segments.article-filters-column.collapsed:hover > div.segment {
        background-color: mix(@background, @text, 90);
    }

    .ui.segments.article-filters {
        .ui.grid {
        }
    }

    .ui.grid.article-list-grid {
        > .row > .column.filters-column {
            padding-right: 0;
        }
        .ui.segments.article-list-segments {
            margin-top: 0px;
        }
    }

    div.describe-filter {
        margin-top: 7px;
        margin-bottom: 7px;

        > .ui.grid {
            margin: -2px;

            > .row {
                padding: 0;

                > .column {
                    padding: 2px;
                }

                > .column.delete-filter {
                    > .ui.tiny.icon.button {
                        padding: 7px 0 7px 0;
                    }
                }

                > .column.describe-filter {
                    > .ui.tiny.button {
                        padding: 7px;
                    }
                }
            }
        }
    }

    .ui.tooltip.filters-tooltip {
        padding: 0.5em 0.5em;
        text-align: center;
    }
}

@media only screen and (max-width: 767px) {
}

@media only screen and (max-width: 900px) {
    .article-list-toplevel {
        div.column.article-answers >div.ui.grid > div.row > div.column {
            padding-left: 10px;
            padding-right: 10px;
            font-size: 13px;
        }

        div.column.article-answers > div.ui.grid > div.row > div.column > .ui.list > .item > div.content {
            padding-left: 3px;
        }

        div.article-filters .ui.buttons,
        div.article-filters .ui.button {
            font-size: 12px;
        }

        div.article-filters div.ui.selection.dropdown,
        div.article-filters div.ui.selection.dropdown div.text,
        div.article-filters div.ui.selection.dropdown div.menu,
        div.article-filters div.ui.input,
        div.article-filters div.ui.input input[type=text],
        div.article-filters div.ui.input i.icon
        {
            font-size: 12px;
        }

        div.article-filters .ui.buttons.three-state-icon .ui.button i.icon {
            font-size: 12px;
        }

        div.article-filters .ui.form .field .fields {
            margin-top: 0;
            margin-bottom: 0.5em;
        }

        div.article-filters .ui.form .field .fields .field {
            padding-top: 0.25em;
            padding-bottom: 0.25em;
        }

        .article-list-article .ui.row.user-article {
            padding: 0.6em;
        }

        .article-list-article .ui.row.user-article > .column {
            padding: 0;
        }

        .article-list-article .ui.row.user-article > .column > .grid {
            margin: -0.6em;
        }

        .article-list-article .ui.row.user-article > .column > .ui.fitted.divider {
            margin-top: 0.3em;
            margin-bottom: 0.3em;
        }

        .article-list-article .ui.row.user-article > .column > .grid > .row {
            padding-top: 0.8em;
            padding-bottom: 0.8em;
        }

        .article-list-article .ui.row.user-article > .column > .grid > .row > .column {
            padding-left: 0.6em;
            padding-right: 0.6em;
        }

        .article-list-article .ui.row.user-article > .column > .grid > .row > .column.label-values {
            margin-left: -3px;
        }

        .article-list-article .ui.row.user-article > .column > .grid > .row > .right.aligned.column {
            padding-left: 0;
        }

        .article-list-article .ui.row.user-article > .column > .grid > .row > .right.aligned.column > .ui.label {
            margin-top: 1px;
            margin-bottom: 2px;
        }

        .article-list-article .article-title {
            font-size: 12px;
        }

        .article-list-article .article-title div.ui.tiny.label {
            margin-left: 5px;
            margin-top: 1px;
            margin-bottom: 1px;
        }
    }
}
