div.join-project-panel {
    max-width: 500px;
}

div.auth-segment {
    max-width: 450px;
}

.ui.segment#login-register-panel {
}

#login-register-panel .ui.form.login-register-form {
    padding-bottom: 0.8em;
}
