.ui.segment.multiselect {
    padding-bottom: 1.2em;
    padding-top: 0;

    label {
        margin-bottom: 1.2em;
    }

    .column {
        padding-bottom: 0;
        padding-top: 0;
    }

    .ui.labeled.icon.button {
        padding-left: 2.6em !important;
        padding-right: 0.7em !important;
        margin: 2px 0;
    }
}

div.ui.grid.list-pager {
    > .column {
        padding: 0.5em 0.6em 0.5em 0.6em;
    }
    > .right.aligned.column {
    }
    .list-pager-message {
        margin: 0 !important;
        font-size: 13px;
    }
    .list-pager-nav {
        .ui.button.nav-first {
            margin-right: 5px;
        }
        .ui.buttons.nav-prev-next {
            margin-right: 5px;
        }
        .ui.button.nav-last {
            margin-right: 0px;
        }
        span.page-number {
            margin-right: 1em;

            form.page-number {
                padding: 0;
                margin: 0 3px 0 3px;
                input {
                    width: 3em;
                    padding: 0.35em;
                }
            }
        }
    }
}

.ui.grid.save-reset-form,
.ui.grid.confirm-cancel-form {
    margin: -0.5em;
    > .column {
        padding: 0.5em;
    }
}

.dropzone {
    background: inherit;
    border: 0;
    padding: 0px;
    min-height: 0px;

    .dz-message {
        margin-top: 1em;
        margin-bottom: 0;
    }

    .dz-default.dz-message {
        display: none;
    }

    .ui.progress.dz-progress {
        margin-bottom: 0.5em;

        .bar {
            min-width: 0.75em;
        }
    }
}

.ui.button.button-radio {
    .noselect;
    margin: 2px;
    padding: 6px 8px;
    padding-top: 7px;
    > span { min-height: 14px; }
    > .ui.checkbox {
        vertical-align: middle;
        min-width: 14px !important;
        min-height: 14px !important;
        margin: 0 !important;
        margin-right: 4px !important;
        padding-top: 1px;

        > input {
            width: 12px !important;
            height: 12px !important;
        }
        > label {
            height: 12px !important;
        }
        > label::before {
            width: 12px !important;
            height: 12px !important;
            top: -1px !important;
        }
        > label::after {
            width: 12px !important;
            height: 12px !important;
            top: -1px !important;
        }
    }
    > .ui.checkbox:not([class*='radio']) {
        min-width: 15px !important;
        min-height: 15px !important;
        > input {
            width: 14px !important;
            height: 14px !important;
        }
        > label {
            height: 14px !important;
        }
        > label::before {
            width: 14px !important;
            height: 14px !important;
            top: -1px !important;
        }
        > label::after {
            width: 14px !important;
            height: 14px !important;
            top: -1px !important;
        }
        input:checked~label:after {
            font-size: 10px !important;
        }
    }
}

@media only screen and (max-width: 767px) {
    div.dropzone {
        .ui.button.upload-button {
            padding-left: 0.75em;
            padding-right: 0.75em;
        }
    }
}

// TODO: update these CSS paths for new component
@media only screen and (max-width: 900px) {
    div.ui.grid.list-pager {
        .ui.segment.article-nav > .ui.grid > .column {
            padding: 0.75em;
        }

        .ui.segment.article-nav > .ui.grid > .right.aligned.column {
            padding-left: 0;
            padding-right: 0.5em;
        }

        .ui.segment.article-nav > .ui.grid > .left.aligned.column h5 {
            font-size: 12px;
        }

        .ui.segment.article-nav > .ui.grid > .right.aligned.column .ui.button {
            font-size: 10px;
            padding: 0.75em;
        }
    }
}
