.define-labels .ui.buttons.save-cancel {
    padding-top: 14px;
    padding-bottom: 14px;
}

.define-labels .ui.segment.delete-label {
    padding: 0;
}

.define-labels .ui.segment.delete-label .ui.button {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.define-labels div.ui.grid.segment.label-item > .row {
    padding-top: 0;
    padding-bottom: 0;
}

.define-labels .column.delete-label {
    background-color: @background1;
}

.define-labels .column.label-index {
    background-color: @background1;
}
