.data-grid-container .cell.selected {
    background-color: @spreadsheetSelectedBackground;
    border: @spreadsheetSelectedBorder;
}

.group-label-input {
    cursor: pointer;
}

.group-label-values {
    background-color: @partialSegmentBackground;
}

.group-label-values .MuiDataGrid-colCellTitle {
    font-weight: bold !important;
}

.group-label-values-row:nth-of-type(2n) {
    background-color: @partialSegmentBackground;
}
