.data-grid-container .cell.selected {
    background-color: @spreadsheetSelectedBackground;
    border: @spreadsheetSelectedBorder;
}

.group-label-input {
    cursor: pointer;
}

.group-label-values {
    background-color: @partialSegmentBackground;
    border: 1px solid @solidInternalBorderColor;
    border-radius: 0.286rem;
    margin-top: 1rem;
}

.group-label-values .group-label-name {
    border-bottom: 1px solid @solidInternalBorderColor;
    font-size: 0.875rem;
    font-weight: bold;
    padding: 0.5rem;
    text-align: center;
}

.group-label-values .MuiDataGrid-colCellTitle {
    font-weight: bold !important;
}

.group-label-values-row:nth-of-type(2n) {
    background-color: @partialSegmentBackground;
}
