.search-panel {
    .pubmed-search-results {
        margin-top: 1em;

        .ui.button.search-results {
            padding: 0.7em;
        }

        > h4.ui.dividing.header > div.ui.grid > div.row {
            margin-bottom: 0.1em;
        }
    }

    input.ui.input.search-page-number {
        width: 4em;
        padding: 0.3em;
        margin-left: 0.25em;
        margin-right: 0.25em;
    }

    div.search-results-container.margin {
        margin-top: 1em;
    }
}

.project-sources-list {
    margin-bottom: -1em;
}

.ui.segments.project-source {
    margin-bottom: 1em;

    > .ui.segment.source-info {
        padding: 0.6em 1em 0.6em 1em;
    }

    > .ui.segment.source-details {
        > .ui.grid > .row {
            padding-top: 0.2em;
            padding-bottom: 0.4em;
            min-height: 4em;

            > .column.source-description {
                > .ui.stackable.grid {
                    margin-top: 0;
                    margin-bottom: 0;
                    margin-left: -0.5em;
                    margin-right: -0.5em;

                    > .column {
                        padding: 0.5em;
                    }
                }
            }

            > .column.source-actions {
                .ui.button.delete-button {
                    margin-top: 0.5em;
                }
            }
        }
    }

    .ui.button.delete-button {
        margin-right: 0;
    }
}

.ui.segments.pubmed-articles {
    .auto-margin;
    max-width: 900px;

    div.ui.segment.pubmed-article {
        padding: 0.75em;
        p {
            margin-bottom: 0.2em;
        }
        p.pmid {
            color: @mutedText;
        }
    }
}

div#import-articles {
    .ui.segment.import-upload {
        .auto-margin;
        max-width: 600px;
    }
}
