.search-panel .pubmed-search-results .ui.button.search-results {
    padding: 0.7em;
}

.search-panel input.ui.input.search-page-number {
    width: 4em;
    padding: 0.3em;
    margin-left: 0.25em;
    margin-right: 0.25em;
}

.articles-pager > .ui.grid {
    margin-top: 0;
    margin-bottom: 0;
}

.articles-pager > .ui.grid > .row {
    padding: 0;
}

.search-panel .pubmed-search-results .articles-pager form.page-number {
    padding-left: 1em;
    padding-right: 1em;
}

.search-panel .pubmed-search-results .articles-pager form.page-number span {
    color: @text;
}

.search-panel div.items-count {
    margin-top: 0.75em;
    margin-left: 0.25em;
    margin-bottom: 0.5em;
}

.search-panel .pubmed-search-results > h4.ui.dividing.header > div.ui.grid > div.row {
    margin-bottom: 0.1em;
}

.search-panel div.search-results-container {
    margin-top: 1em;
}

div.project-source {
    margin-bottom: 1em;
}

div.project-sources-list {
    margin-bottom: -1em;
}

div.project-source > div.ui.top.attached.segment {
    padding: 0.6em;
}

div.project-source > div.ui.bottom.attached.segment {
    padding: 0.6em;
}

div.project-source > div.ui.bottom.attached.segment > .ui.grid > .row {
    padding-left: 0.2em;
    min-height: 4em;
}

div.project-source .ui.button.delete-button {
    margin-right: 0;
}
