.ui.top.menu.site-menu {
    margin-bottom: 1em;
    border-radius: 0px;
}

.ui.top.menu.site-menu .header {
    font-size: 21px;
}

.ui.top.menu.site-menu .item {
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 13px;
}

.ui.menu div.item.loading-indicator:before {
    width: 0;
}

div.project-menu-wrapper {
    margin-top: -1em;
    margin-left: -1em;
    margin-right: -1em;
}

.ui.menu.primary-menu {
    margin-bottom: 1em;
}

.ui.secondary.pointing.menu.primary-menu a.item {
    padding-top: 1em;
    padding-bottom: 1em;
    font-weight: 600;
}

.ui.secondary.pointing.menu.primary-menu a.active.item {
    background-color: rgba(240,240,240,1);
}

div.secondary-menu-wrapper {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    margin-bottom: 1em;
}

.ui.secondary.menu.secondary-menu {
    margin-top: -0.25rem;
}

.ui.secondary.menu.secondary-menu a.item {
}

@media only screen and (max-width: 900px) {
    .ui.menu .item,
    .ui.menu .menu .item {
        padding-left: 8px;
        padding-right: 8px;
    }
}
