.ui.top.menu.site-menu {
    margin-bottom: 1em;
    border-radius: 0px;
}

.ui.top.menu.site-menu .header {
    font-size: 21px;
}

.ui.top.menu.site-menu .item {
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 13px;
}

.ui.menu div.item.loading-indicator:before {
    width: 0;
}

div.project-menu-wrapper {
    margin: 0;
}

.ui.menu.primary-menu {
    margin-bottom: 1em;
}

.ui.secondary.pointing.menu.primary-menu a.item {
    padding-top: 1em;
    padding-bottom: 1em;
}

.ui.secondary.pointing.menu.primary-menu .active.item,
.ui.secondary.pointing.menu.primary-menu .active.item:hover
{
    background-color: @menuActiveBackground;
    color: @darkText;
    border-color: @menuActiveBorder;
}

.ui.secondary.pointing.menu.secondary-menu .active.item,
.ui.secondary.pointing.menu.secondary-menu .active.item:hover
{
    color: @secondaryMenuActiveColor;
    border-color: @secondaryMenuActiveColor;
}

.ui.secondary.pointing.menu.secondary-menu .item {
    color: @secondaryMenuColor;
}

div.secondary-menu-wrapper {
    margin-top: -0.5em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
}

.ui.secondary.menu.secondary-menu {
    margin-top: -0.25rem;
}

.ui.secondary.menu.secondary-menu a.item {
}

.ui.secondary.menu .ui.dropdown .menu .item,
.ui.secondary.menu .ui.dropdown .menu .active.item,
.ui.secondary.menu .ui.dropdown .menu .selected.item,
.ui.secondary.menu .ui.dropdown .menu .active.selected.item {
    border: 0;
    width: 100%;
    text-align: right;
}

@media only screen and (max-width: 900px) {
    .ui.menu .item,
    .ui.menu .menu .item {
        padding-left: 8px;
        padding-right: 8px;
    }

    div.secondary-menu-wrapper {
        margin-top: 0;
        margin-left: 0.5em;
        margin-right: 0.5em;
        margin-bottom: 0.5em;
    }

    .ui.menu.primary-menu {
        margin-bottom: 0.5em;
    }
}

a.disabled, a.disabled:hover {
   pointer-events: none;
   color: #e1e1e1;
}