.ui.segment.project-segment {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
}

.ui.segment.project-segment .padded {
    padding-left: 1em;
    padding-right: 1em;
}

.ui.segment.invite-link {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.ui.grid > .row > div.column.pie-chart {
    padding-left: 0;
    padding-right: 0;
}

.ui.grid.pie-charts > .row {
    padding-top: 0.5em;
}

.ui.segment.project-header {
    padding: 0.5em;
}

.ui.segment.project-header > h5.ui.header {
    padding-left: 0.5em;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 0px;
    margin-right: 0px;
}

.ui.segment.project-header > h5 .ui.basic.label {
    margin: 0;
    font-size: 0.925rem;
}

.ui.segment.project-header > h5 .ui.tiny.button {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    font-size: 0.9rem;
}

@media only screen and (max-width: 900px) {
    .ui.top.attached.segment.project-header {
        text-align: justify;
        padding: 0.75em;
    }

    .ui.segment.project-segment .padded {
        padding: 0.75em;
    }

    .ui.segment.project-segment {
        padding: 0;
    }

    .ui.stackable.grid.project-overview > .ui.row > .ui.column {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    div.project-summary > .ui.segment > .ui.stackable.grid > .row > .column {
        padding: 0 !important;
        width: 60% !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .ui.segment.project-segment .padded .ui.grid .ui.row .ui.eight.wide.column {
        padding-left: 0;
        padding-right: 0;
    }

    .ui.segment.project-segment .padded .ui.grid .ui.row .ui.four.wide.column {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    .ui.segment.project-segment .padded .ui.grid .ui.row .ui.four.wide.column.left-column {
        padding-right: 0;
    }

    .ui.segment.project-segment .padded .ui.grid .ui.row .ui.four.wide.column .ui.small.button {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    .ui.segment.project-segment .padded .ui.grid .ui.row .ui.four.wide.column .ui.small.button i.small.right.icon {
        margin-left: 2px;
        margin-right: 2px;
    }
}
