.ui.segment.project-segment {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
}

div.project-content {
}

.ui.segment.project-segment .padded {
    padding-left: 1em;
    padding-right: 1em;
}

.ui.segment.invite-link {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.ui.grid > .row > div.column.pie-chart-help {
    padding-left: 0;
    padding-right: 0;
}

.ui.grid.pie-charts > .row {
    padding-top: 0.5em;
}

.ui.segment.project-header {
    padding: 0.5em;
}

.ui.segment.project-header .ui.grid .row {
    padding-left: 0.5em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 0px;
    margin-right: 0px;
}

.ui.segment.project-header > h5 .ui.basic.label {
    margin: 0;
    font-size: 0.925rem;
}

.ui.segment.project-header .ui.button {
    padding: 0.7em;
    font-size: 13px;
}

div.project-files > .ui.celled.list {
    margin-top: 0;
}

div.project-files > .ui.celled.list > .item {
    padding-top: 4px;
    padding-bottom: 4px;
}

div.project-files > .ui.celled.list > .item > .content.file-link {
    padding-top: 3px;
    padding-bottom: 3px;
    font-weight: bold;
}

div.upload-container {
    margin-top: 7px;
}

div.label-status-help {
    text-align: center;
}

div.label-status-help .ui.basic.button.status-link {
    box-shadow: none;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    margin-bottom: 3px;
}

div.label-status-help > .ui.top.attached.button,
div.label-status-help > .ui.buttons {
    width: 90% !important;
    margin-left: auto;
    margin-right: auto;
}

div.label-status-help > .ui.buttons > .ui.button {
    padding-left: 3px;
    padding-right: 3px;
    width: 50%;
}

div.label-status-help .ui.bottom.attached.buttons {
    margin-bottom: 8px;
}

div.projects-list {
    margin-top: 1em;
}

div.projects-list .ui.list > .item > .content.project-name {
    padding-top: 0.75em;
    padding-bottom: 0.75em;
}

div.projects-list .ui.list > .item:hover > .ui.labeled.button > .ui.basic.label {
    border-color: fadeout(@text, 70%, relative);
}

div.grid.export-data > .column > .ui.segment > h5 {
    margin-top: 1em;
}

@media only screen and (max-width: 767px) {
    .ui.column.stackable.grid.project-overview {
        margin-top: -0.5em;
        margin-bottom: 0;
    }

    .project-content > .ui.two.column.stackable.grid > .column,
    .project-content > .ui.two.column.stackable.grid > .row > .column {
         padding-left: 0 !important;
         padding-right: 0 !important;
         padding-top: 0.5em !important;
         padding-bottom: 0.5em !important;
    }
}

@media only screen and (max-width: 900px) {
    .ui.top.attached.segment.project-header {
        text-align: justify;
        padding: 0.6em;
        font-size: 12px;
    }

    .ui.top.attached.segment.project-header .ui.grid {
        margin: -1em;
    }

    .ui.top.attached.segment.project-header .ui.grid > .row {
        padding: 0.6em;
    }

    .ui.top.attached.segment.project-header .ui.grid > .row > .column {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    .ui.segment.project-segment {
        padding: 0;
    }

    div.project-content > .ui.stackable.grid {
        margin-top: -0.5em;
        margin-bottom: -0.5em;
    }

    div.project-summary div.stackable.grid.pie-charts > .row > .column {
        padding-left: 0 !important;
        padding-right: 0 !important;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        width: 65% !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    div.projects-list .ui.list > .item > .ui.labeled.button > .ui.basic.label {
        padding: 0.75em;
        font-size: 13px !important;
    }
}
