
.ui.segment.project-segment {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
}

div.project-content {
}

.ui.segment.project-segment .padded {
    padding-left: 1em;
    padding-right: 1em;
}

.ui.segment.invite-link {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.ui.grid > .row > div.column.pie-chart-help {
    padding-left: 0;
    padding-right: 0;
}

.ui.grid.pie-charts > .row {
    padding-top: 0.5em;
}

.ui.segment.project-header {
    padding: 0.7em;
}

.ui.segment.project-header .ui.header {
    margin: 0;
    line-height: 1.15em;
}

div.project-files > .ui.celled.list {
    margin-top: 0;
}

div.project-files > .ui.celled.list > .item {
    padding-top: 4px;
    padding-bottom: 4px;
}

div.project-files > .ui.celled.list > .item > .content.file-link {
    padding-top: 3px;
    padding-bottom: 3px;
    font-weight: bold;
}

div.upload-container {
    margin-top: 7px;
}

div.label-status-help {
    text-align: center;
}

div.label-status-help .ui.basic.button.status-link {
    box-shadow: none;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    margin-bottom: 3px;
}

div.label-status-help > .ui.top.attached.button,
div.label-status-help > .ui.buttons {
    width: 90% !important;
    margin-left: auto;
    margin-right: auto;
}

div.label-status-help > .ui.buttons > .ui.button {
    padding-left: 3px;
    padding-right: 3px;
    width: 50%;
}

div.label-status-help .ui.bottom.attached.buttons {
    margin-bottom: 8px;
}

div.grid.export-data > .column > .ui.segment > h5 {
    margin-top: 1em;
}

div.message.read-only-message p {
    font-size: 1.075rem;
}

div.projects-list {
    margin-top: 1em;
}

.ui.segments.projects-list {
    margin-top: 1em;
}

.ui.segments > .ui.segment.project-list-project {
    margin-top: 0;
    margin-bottom: 0;
}

.projects-list.member .project-list-project:hover {
    background-color: mix(@background, @text, 96);
}

@media only screen and (max-width: 767px) {
    .ui.column.stackable.grid.project-overview {
        margin-top: -0.5em;
        margin-bottom: 0;
    }

    .project-content > .ui.two.column.stackable.grid > .column,
    .project-content > .ui.two.column.stackable.grid > .row > .column {
         padding-left: 0 !important;
         padding-right: 0 !important;
         padding-top: 0.5em !important;
         padding-bottom: 0.5em !important;
    }
}

@media only screen and (max-width: 900px) {
    .ui.top.attached.segment.project-header {
        text-align: justify;
        padding: 0.5em;
    }

    .ui.segment.project-segment {
        padding: 0;
    }

    div.project-content > .ui.stackable.grid {
        margin-top: -0.5em;
        margin-bottom: -0.5em;
    }

    div.project-summary div.stackable.grid.pie-charts > .row > .column {
        padding-left: 0 !important;
        padding-right: 0 !important;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        width: 65% !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    div.ui.message.read-only-message > div.content > div.header {
        font-size: 1.1em;
    }
    div.ui.message.read-only-message > div.content > p {
        font-size: 1em;
    }
}

@media only screen and (max-width: 900px) {
    .ui.segment.project-header.mobile {
        display: normal;
    }
    .ui.segment.project-header.desktop {
        display: none;
    }
    .ui.segment.project-header .ui.label {
        margin-left: 1em;
        margin-top: 0.25em;
        margin-bottom: 0.25em;
        font-size: 11px;
        padding-left: 6px;
        padding-right: 6px;
        padding-top: 4px;
        padding-bottom: 4px;
    }
}

@media only screen and (min-width: 901px) {
    .ui.segment.project-header.mobile {
        display: none;
    }
    .ui.segment.project-header.desktop {
        display: normal;
    }
    .ui.grid.segment.project-header > .row,
    .ui.grid.segment.project-header > .row > .column {
        padding: 0;
    }
}
