div.ui.segments.label-editor-view {
    margin-top: 1em;

    > .ui.segment.label-editor-header {
        border-bottom: 0;

        .ui.grid > .right.aligned.column {
            padding: 0.6rem;

            .ui.icon.button {
                margin-right: 6px;
            }
        }

        .ui.grid > .left.aligned.column {
            padding-top: 0.6rem;
            padding-bottom: 0.6rem;
        }
    }
}

.ui.buttons.three-state .ui.button {
    padding-top: 0.6em;
    padding-bottom: 0.6em;
}

.ui.celled.grid > .row > .column.label-edit {
    padding: 0;
}

.column.label-edit {
    padding: 0;

    input {
        padding-left: 0.6em;
        padding-right: 0.6em;
        padding-top: 0.6em;
        padding-bottom: 0.6em;
    }

    > .middle.aligned.grid {
        margin: 0px;

        .row.label-edit-name {
            padding-bottom: 6px;
            padding-top: 5px;
            text-align: center;

            i {
                font-size: 17px;
                width: 25px;
            }

            i.grey.circle.question.mark.icon {
                font-size: 13px;
            }

            div.clear {
                clear: both;
                width: 100%;
            }

            span.name {
                margin-left: auto;
                margin-right: auto;
                font-size: 13px;
            }
            span.name.small-text {
                font-size: 11px;
            }
        }

        .row.label-edit-value {
            padding-top: 0px;
            padding-bottom: 12px;
        }
        .row.label-edit-value.boolean {
            div.inner {
                margin-left: auto;
                margin-right: auto;
            }
        }
        .row.label-edit-value.string {
            div.inner {
                width: 100%;
            }

            .ui.form.string-label .field .ui.input {
                padding-top: 0.15em;
                padding-bottom: 0.15em;
            }
        }
        .row.label-edit-value.category {
            padding-left: 0.5em;
            padding-right: 0.5em;

            div.inner {
                width: 100%;
                margin: 0;
            }
        }
        .row.label-edit-value.string, .row.label-edit-value.numeric {
            padding-left: 0.5em;
            padding-right: 0.5em;
        }
    }

    .ui.icon.button.input-row {
        padding: 0.5em;
    }

    .ui.label.input-remove {
        padding-left: 0.5em;
        padding-right: 0.5em;
        padding-top: 0.75em;
        padding-bottom: 0.75em;

        i.icon {
            padding: 0;
            margin: 0;
        }
    }
}
.column.label-edit.required {
    background-color: @background1;
}
.column.label-edit.inconsistent {
    background-color: @warningBackground;
}
.column.label-edit.extra {
}

div.ui.segment.labels-warning {
    padding: 0.5em;

    .ui.message {
        padding-top: 0.4em;
        padding-bottom: 0.4em;
        padding-left: 0.75em;
        padding-right: 0.75em;
    }
}

@media only screen and (max-width: 900px) {
    .content.confirm-modal h3 {
        font-size: 1.0em;
    }

    .column.label-edit > .middle.aligned.grid .row.label-edit-value.category {
        padding-left: 0.4em;
        padding-right: 0.4em;
    }

    .ui.grid.label-editor-buttons-view > .eight.wide.column {
        padding-left: 0;
        padding-right: 0;
    }

    .ui.grid.label-editor-buttons-view > .four.wide.column {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    .row.label-edit-name span.name {
        font-size: 11px;
    }

    .row.label-edit-name span.name.small-text {
        font-size: 10px;
    }

    .row.label-edit-name i {
        font-size: 15px;
        width: 22px;
    }

    .ui.selection.dropdown > div.default.text {
        margin-left: 3px;
        margin-top: 2px;
        margin-bottom: 2px;
        font-size: 12px !important;
    }

    .ui.selection.dropdown > .ui.label {
        font-size: 12px !important;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 7px;
        padding-right: 7px;
    }

    .label-editor-view {
        > .ui.segment.label-editor-header {
            .ui.tiny.button {
                padding: 0.6em;
            }
        }

        .ui.grid > .column {
            padding: 0.6rem;
        }

        .ui.grid > .right.aligned.column {
            .ui.button {
                margin-right: 0;
            }

            .ui.icon.button {
                margin-right: 6px;
            }
        }
    }
}
