#search-sysrev-bar {
    background: @pageBackground;
	height: 2em;
    margin-top: 0.5em;
    color: @text;    
}

#search-sysrev-bar::placeholder {
    color: @greyButtonBackground;
}

#search-sysrev-bar::-ms-input-placeholder {
    color: @greyButtonBackground;
}

#search-sysrev-bar:-moz-placeholder {
    color: @greyButtonBackground;
}

#search-sysrev-bar::-webkit-input-placeholder {
    color: @greyButtonBackground;
}
