.project-settings {
    .ui.divider {
        margin: 0.75em 0;
    }

    .form.project-permissions {
        > .fields {
            margin-bottom: 0.5em;
        }
        .ui.fluid.button.action {
            padding-left: 0.7em;
            padding-right: 0.7em;
        }
    }

    .ui.segment.project-misc {
        .ui.form {
            .field.project-name {
                textarea {
                    padding: 0.6em;
                }
            }
        }
    }

    .ui.tooltip.project-settings {
        min-width: 18em;
        text-align: center;
    }

    .ui.form.disable-project {
        > .field {
            margin: 0 !important;
        }
    }
}
