{:paths []
 :deps {org.clojure/clojure {:mvn/version "1.11.0-beta1"}
        org.clojure/tools.deps.alpha {:mvn/version "0.11.918"}
        poly/anystyle {:local/root "../../components/anystyle"}
        poly/contajners {:local/root "../../components/contajners"}
        poly/datapub-client {:local/root "../../components/datapub-client"}
        poly/flyway {:local/root "../../components/flyway"}
        poly/json {:local/root "../../components/json"}
        poly/memcached {:local/root "../../components/memcached"}
        poly/office {:local/root "../../components/office"}
        poly/postgres {:local/root "../../components/postgres"}
        poly/pubmed-api {:local/root "../../components/pubmed-api"}
        poly/shutdown {:local/root "../../components/shutdown"}
        poly/sysrev {:local/root "."}
        poly/system2 {:local/root "../../components/system2"}
        poly/tech-ml-parquet {:local/root "../../components/tech-ml-parquet"}
        poly/util-lite {:local/root "../../components/util-lite"}}
 :aliases
 {:test
  {:extra-paths ["../../config/test"]
   :extra-deps {polylith-kaocha/kaocha-wrapper
                {:git/url "https://github.com/imrekoszo/polylith-kaocha"
                 :git/tag "v0.8.2"
                 :git/sha "d1fcd40"
                 :deps/root "projects/kaocha-wrapper"}

                poly/fixtures {:local/root "../../components/fixtures"}
                poly/postgres {:local/root "../../components/postgres-embedded"}}}}}
