{:paths []
 :deps {org.clojure/clojure {:mvn/version "1.11.0-beta1"}
        org.clojure/tools.deps.alpha {:mvn/version "0.11.918"}
        poly/anystyle {:local/root "../../components/anystyle"}
        poly/contajners {:local/root "../../components/contajners"}
        poly/datapub-client {:local/root "../../components/datapub-client"}
        poly/flyway {:local/root "../../components/flyway"}
        poly/json {:local/root "../../components/json"}
        poly/memcached {:local/root "../../components/memcached"}
        poly/notification {:local/root "../../components/notification"}
        poly/office {:local/root "../../components/office"}
        poly/postgres {:local/root "../../components/postgres"}
        poly/pubmed-api {:local/root "../../components/pubmed-api"}
        poly/reviewer-time {:local/root "../../components/reviewer-time"}
        poly/shutdown {:local/root "../../components/shutdown"}
        poly/sysrev {:local/root "."}
        poly/tech-ml-parquet {:local/root "../../components/tech-ml-parquet"}
        poly/user {:local/root "../../components/user"}
        poly/util-lite {:local/root "../../components/util-lite"}}
 :aliases {:test {:extra-paths ["../../config/test"]
                  :extra-deps {poly/fixtures {:local/root "../../components/fixtures"}
                               poly/postgres {:local/root "../../components/postgres-embedded"}}}}}
