/* some style */

.main-content {
    margin-bottom: 80px;
}

.ui.segment.project-header {
    padding: 0.5em;
}

.ui.segment.project-header > h5 {
    font-weight: normal;
}

div.segment.labels-warning {
    padding: 0.5em;
}

div.ui.segment.labels-warning .ui.message {
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    padding-left: 0.75em;
    padding-right: 0.75em;
}

.row.label-edit-name i {
    font-size: 17px;
    width: 25px;
}

.row.label-edit-name span.name {
    margin-left: auto;
    margin-right: auto;
}

.row.label-edit-name span.name span.inner {
    margin-left: -25px;
}

.ui.buttons.three-state .ui.button {
    padding-top: 0.6em;
    padding-bottom: 0.6em;
}

.ui.celled.grid > .row > .ui.column.label-edit {
    padding: 0.0em;
}

.ui.grid.label-edit {
}

.ui.celled.grid.segment.label-section {
    margin: 0;
    border-left: none;
    border-right: none;
}

.ui.celled.grid.segment.project-stats {
    margin: 0;
    border-left: none;
    border-right: none;
    text-align: center;
    padding: 0;
}

.ui.grid.project-stats .row.top-row {
    box-shadow: none !important;
}

.top-left {
    border-top: none !important;
    border-left: none !important;
}

.top-right {
    border-top: none !important;
    border-right: none !important;
}

.bottom-left {
    border-bottom-left-radius: 4px !important;
}

.bottom-right {
    border-bottom-right-radius: 4px !important;
}

.ui.celled.grid.segment.project-stats > .ui.column {
    padding: 0.5em;
}

.ui.column.label-edit.required {
    background-color: #eeeeee;
}

.ui.column.label-edit.extra {
}

.ui.column.label-edit > .middle.aligned.grid {
    margin: 0px;
}

.ui.column.label-edit > .middle.aligned.grid .row.label-edit-name {
    padding-bottom: 6px;
    padding-top: 5px;
    text-align: center;
}

.ui.column.label-edit > .middle.aligned.grid .row.label-edit-value {
    padding-top: 0px;
    padding-bottom: 12px;
}

.ui.column.label-edit > .middle.aligned.grid .row.label-edit-value.boolean div.inner {
    margin-left: auto;
    margin-right: auto;
}

.ui.column.label-edit > .middle.aligned.grid .row.label-edit-value.category {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.ui.column.label-edit > .middle.aligned.grid .row.label-edit-value.string,
.ui.column.label-edit > .middle.aligned.grid .row.label-edit-value.numeric {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.ui.column.label-edit .ui.icon.button.input-row {
    padding: 0.5em;
}

.ui.column.label-edit .ui.label.input-remove {
    padding: 0;
}

.ui.column.label-edit .ui.label.input-remove .ui.button {
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.ui.column.label-edit .ui.label.input-remove i.icon {
    padding: 0;
    margin: 0;
}

.field.success .ui.input input {
    background-color: rgba(220,255,220,1.0);
}

.ui.form.string-label .field .ui.input {
    padding-top: 0.15em;
    padding-bottom: 0.15em;
}

.ui.column.label-edit input {
    padding-left: 0.6em;
    padding-right: 0.6em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}

.ui.column.label-edit > .middle.aligned.grid .row.label-edit-value.category div.inner {
    width: 100%;
    margin: 0;
}

div.page-content {
}

.ui.segment.user-admin-segment {
    padding: 0.5em;
}

.ui.header.segment.user-menu {
    padding: 0.0em;
}

.ui.dropdown.button.user-menu {
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    padding-left: 1em;
    padding-right: 1em;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.ui.dropdown.button.user-menu label i.icon {
    float: right;
}

.ui.segment.project-segment {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
}

.ui.segment.project-segment .padded {
    padding-left: 1em;
    padding-right: 1em;
}

.ui.segment.invite-link {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.grid.project-stats {
    font-size: 100%;
}

.grid.project-stats > .row > .column {
    text-align: center;
}

.grid.user-card {
    padding-top: 6px;
    padding-bottom: 6px;
}

span.attention {
    font-size: 100%;
    font-weight: bold;
    color: green;
    padding: 1px;
}

.auto-margin {
    margin-left: auto !important;
    margin-right: auto !important;
}

div.ui.row.segment.user-card-counts {
    padding-left: 7px;
    padding-right: 7px;
}

div.ui.row div.column.user-card-column {
    padding-left: 6px;
    padding-right: 6px;
}

h4 {
    margin-bottom: 0.6rem;
}

.ui.label.article-predict {
    width: 100% !important;
    padding-left: 4px;
    padding-right: 4px;
}

.no-padding {
    padding: 0px !important;
}

.blue-text {
    color: rgba(64, 121, 191, 1) !important;
}

div.user-info .ui.table thead tr th,
div.user-info .ui.table tbody tr td
{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.ui.horizontal.divided.list > .item.label-tag-list
{
    padding-left: 5px;
    padding-right: 5px;
}

.ui.label.small {
    padding-left: 7px;
    padding-right: 7px;
}

div.ui.segment.label-section-header {
    padding-left: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.ui.top.menu.site-menu {
    margin-bottom: 1em;
    border-radius: 0px;
}

.ui.top.menu.site-menu .header {
    font-size: 21px;
}

.ui.top.menu.site-menu .item {
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 13px;
}

.bold {
    font-weight: bold !important;
}

.ui.keyword.basic.button
{
    margin-left: 0.3em;
    margin-right: 0.3em;
    margin-top: 1px;
    margin-bottom: 1px;
    padding-left: 0.3em;
    padding-right: 0.3em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    box-shadow: none !important;
}

.ui.keyword.basic.large.button {
    font-weight: bold;
}

.ui.keyword.basic.green.button {
    color: black !important;
    border: 1.5px solid #21BA45;
}

.ui.keyword.basic.orange.button {
    color: black !important;
    border: 1.5px solid #F2711C;
}

.grid.popup.label-help {
    min-width: 22em;
    padding: 0;
    background-color: rgba(230,230,230,1.0);
    border: 1px solid rgba(140,140,140,1.0);
}

.grid.popup.label-help .row {
    border: 0;
}

.grid.popup.label-help .row.label-help-header {
    font-size: 90%;
    font-weight: bold;
    padding: 3px;
    background-color: rgba(100,100,100,1.0);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: white;
    border: 0;
}

.grid.popup.label-help .row.label-help-bottom {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.grid.popup.label-help .row {
    padding: 0.5em;
}

.grid.popup.label-help .row.label-help-question {
    color: black;
    font-size: 13px;
}

.grid.popup.label-help .row.label-help-tag {
    font-size: 100%;
    font-weight: bold;
    padding: 3px;
    background-color: rgba(100,100,100,1.0);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border: 0;
}

.grid.popup.keyword-popup {
    min-width: 18em;
    padding: 0;
    background-color: rgba(230,230,230,1.0);
    border: 1px solid rgba(140,140,140,1.0);
}

.grid.popup.keyword-popup .row .column.keyword-side {
    background-color: rgba(230,230,230,1.0);
    color: black;
    font-size: 85%;
}

.grid.popup.keyword-popup .row .column.keyword-popup {
    border-left: 1px solid rgba(80,80,80,0.8);
}

.grid.popup.keyword-popup .row {
    padding: 0;
}

.grid.popup.keyword-popup .row .column {
    padding: 0;
}

.grid.popup.keyword-popup .row.keyword-popup-header {
    font-size: 90%;
    font-weight: bold;
    padding: 3px;
    background-color: rgba(100,100,100,1.0);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: white;
}

.column.keyword-popup .grid.keyword-popup {
    margin: 0;
    padding: 0;
}

.column.keyword-popup .grid.keyword-popup .row {
    margin: 0;
    padding: 0.4em;
}

.column.keyword-popup .grid.keyword-popup .row.label-name,
.column.keyword-popup .grid.keyword-popup .row.label-value {
    color: black;
}

.column.keyword-popup .grid.keyword-popup .row.label-separator {
    background-color: #2185D0;
    border: 0;
    padding: 2px;
}

.flex-center-children {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
}

table.table.project-labels {
}

.ui.menu a.item.loading-indicator:before {
    width: 0;
}

.ui.segment.notes {
}

.field.notes label.notes {
    margin-bottom: 0.25em;
}

.field.notes label.notes i.icon {
    margin-left: 0.25em !important;
    margin-bottom: 0.2em !important;
}

table.ui.table.user-labels td,
table.ui.table.user-labels th {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
}

div.article-list-article.active,
div.article-list-article.active:hover {
    background-color: rgba(225,225,225,1.0);
}

div.article-list-article:hover {
    background-color: rgba(245,245,245,1.0);
}

div.article-list-article .article-title {
    font-weight: bold;
}

div.article-list-article {
    padding-top: 10px;
    padding-bottom: 10px;
}

div.article-list-article div.ui.row {
    padding-top: 0px;
    padding-bottom: 0px;
}

div.article-list-article div.ui.column.article-title {
    padding: 10px;
}

.ui.fluid.button.fluid-bottom {
    border-radius: 0;
    padding: 4px;
}

div.article-list-segments {
    margin-top: 10px;
    margin-bottom: 10px;
}

div.ui.segment.article-list-segment {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.ui.segment.header-with-buttons > .ui.grid > div.aligned.column {
    padding-top: 6px;
    padding-bottom: 6px;
}

.ui.segment.header-with-buttons > .ui.grid > div.aligned.column > .ui.button {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 14px;
    padding-right: 14px;
}

div.ui.segment.label-values {
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    padding-left: 0.75em;
    padding-right: 0.75em;
}
div.ui.segment.labeled-notes {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.9em;
    padding-right: 0.9em;
}

div.ui.segment.labeled-notes > div.ui.labeled.button > .ui.basic.label {
    font-weight: normal;
}

div.article-labels-view > .ui.segment {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.75em;
    padding-right: 0.75em;
}
div.article-labels-view > .ui.segment > .ui.dividing.header {
    margin-bottom: 7px;
    padding-top: 2px;
    padding-bottom: 4px;
}
div.article-labels-view > .ui.segment > .ui.dividing.header > .ui.tiny.label {
    padding-top: 4px;
    padding-bottom: 4px;
}
div.article-labels-view > .ui.segment > div.notes {
    margin-top: 4px;
    margin-left: 3px;
}
div.article-labels-view > .ui.segment > div.notes > .ui.divider {
    margin-top: 7px;
    margin-bottom: 7px;
}
div.article-labels-view > .ui.segment > div.notes > .ui.labeled.button > .ui.basic.label {
    font-weight: normal;
}

div.ui.column.article-answers {
    height: 100%;
}
div.ui.column.article-answers>div.ui.grid {
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;
}
div.ui.column.article-answers>div.ui.grid>div.row {
    padding-top: 5px;
    padding-bottom: 5px;
}
div.article-answers.single {
    background-color: rgba(230,245,255,1.0);
}
div.article-answers.consistent {
    background-color: rgba(235,255,225,1.0);
}
div.article-answers.conflict {
    background-color: rgba(255,235,235,1.0);
}
div.article-answers.resolved {
    background-color: rgba(235,215,255,1.0);
}

.ui.segment.article-status {
    padding: 0.5em;
}
.ui.segment.article-status > h3 {
    margin: 0;
    font-size: 15px;
}

.ui.labeled.button.label-answer-tag {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 3px;
    margin-right: 3px;
}

.ui.labeled.button.label-answer-tag > .ui.button,
.ui.labeled.button.label-answer-tag > .ui.basic.label,
.ui.labeled.button.user-note > .ui.button,
.ui.labeled.button.user-note > .ui.basic.label,
.labeled-notes > .ui.labeled.button > .ui.button,
.labeled-notes > .ui.labeled.button > .ui.basic.label {
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 0.9rem;
}

div.article-info-header > .ui.fluid.button {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    text-align: left;
    font-size: 18px;
    padding: 0.5em;
    padding-left: 1em;
}

.ui.grid > .row > div.column.pie-chart {
    padding-left: 0;
    padding-right: 0;
}

.ui.grid.pie-charts > .row {
    padding-top: 0.5em;
}

.ui.popup.tooltip {
    min-width: 35em;
}

.ui.item.menu.primary-menu {
    min-height: 0;
    margin-top: -0.5em;
}

.ui.item.menu.primary-menu a.item {
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgba(64, 121, 191, 1);
    font-weight: bold;
}

div.secondary-menu-wrapper {
    margin-left: 1.25em;
    margin-right: 1.25em;
    margin-bottom: 1em;
}

.ui.item.menu.secondary-menu {
    min-height: 0;
    margin-top: -0.5em;
}

.ui.item.menu.secondary-menu a.item {
    padding-top: 8px;
    padding-bottom: 8px;
    color: rgba(64, 121, 191, 1);
}

@media only screen and (max-width: 900px) {
    body {
        font-size: 13px;
    }
    
    .ui.segment {
        padding: 0.5em;
    }

    .ui.segment > .ui.grid {
        margin: -0.5em;
    }

    .ui.grid.segment {
        padding: 0;
    }

    .ui.label-section.grid.segment {
        padding: 0;
    }

    .ui.large.menu {
        font-size: 14px;
    }

    h5 {
        font-size: 13px;
    }

    .ui.top.attached.segment.project-header {
        text-align: justify;
        padding: 0.75em;
    }

    .ui.menu .item,
    .ui.menu .menu .item {
        padding-left: 8px;
        padding-right: 8px;
    }

    .ui.table.mobile-table thead tr th,
    .ui.table.mobile-table tbody tr td {
        padding: 0.4em;
    }

    .content.confirm-modal h3 {
        font-size: 1.0em;
    }

    .ui.label,
    .ui.large.label {
        padding: 0.5em;
        font-size: 12px;
    }

    .ui.segment.project-stats {
        padding-top: 4px;
        padding-bottom: 4px;
    }
    
    .ui.grid.project-stats .column {
        padding-left: 0.75em;
        padding-right: 0.75em;
    }

    .ui.segment.project-segment .padded {
        padding: 0.75em;
    }

    .ui.segment.project-segment {
        padding: 0;
    }

    .ui.column.label-edit > .middle.aligned.grid .row.label-edit-value.category {
        padding-left: 0.4em;
        padding-right: 0.4em;
    }

    .ui.label-section.segment {
        user-select: none! important;
    }

    .ui.segment.article-status > h3 {
        margin: 0;
        font-size: 14px;
    }
    
    h3 > i.icon {
        font-size: 20px !important;
        margin-bottom: 1px;
    }

    .ui.stackable.grid.project-overview > .ui.row > .ui.column {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    div.project-summary > .ui.segment > .ui.stackable.grid > .row > .column {
        padding: 0 !important;
        width: 60% !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .ui.small.button {
        padding-left: 0.85em;
        padding-right: 0.85em;
        padding-top: 0.75em;
        padding-bottom: 0.75em;
    }

    .ui.segment.project-segment .padded .ui.grid .ui.row .ui.eight.wide.column {
        padding-left: 0;
        padding-right: 0;
    }

    .ui.segment.project-segment .padded .ui.grid .ui.row .ui.four.wide.column {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    .ui.segment.project-segment .padded .ui.grid .ui.row .ui.four.wide.column.left-column {
        padding-right: 0;
    }

    .ui.segment.project-segment .padded .ui.grid .ui.row .ui.four.wide.column .ui.small.button {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    .ui.segment.project-segment .padded .ui.grid .ui.row .ui.four.wide.column .ui.small.button i.small.right.icon {
        margin-left: 2px;
        margin-right: 2px;
    }

    div.ui.segment.label-values {
        padding-top: 0.4em;
        padding-bottom: 0.4em;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    div.ui.column.article-answers>div.ui.grid>div.row>div.column {
        padding-left: 10px;
        padding-right: 10px;
    }

    .ui.labeled.button.label-answer-tag > .ui.button,
    .ui.labeled.button.label-answer-tag > .ui.basic.label,
    .ui.labeled.button.user-note > .ui.button,
    .ui.labeled.button.user-note > .ui.basic.label,
    .labeled-notes > .ui.labeled.button > .ui.button,
    .labeled-notes > .ui.labeled.button > .ui.basic.label {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        padding-left: 0.75em;
        padding-right: 0.75em;
        font-size: 0.9rem;
    }

    div.ui.segment.labeled-notes {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        padding-left: 0.75em;
        padding-right: 0.75em;
    }

    div.article-labels-view > .ui.segment {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    div.article-info-header > .ui.large.fluid.button {
        padding: 10px;
    }

    .ui.popup.tooltip {
        min-width: 30em;
    }
}
