{:paths ["src"]
 :deps {lambdaisland/uri {:mvn/version "1.13.95"}
        org.clojure/tools.logging {:mvn/version "1.2.4"}
        sysrev/datapub-client {:local/root "../datapub-client"}
        sysrev/fda-drugs {:local/root "../fda-drugs"}
        sysrev/sqlite {:local/root "../sqlite"}}}
