{:postgres
 {:dbname "sysrev"
  :user "postgres"
  :password ""
  :host "localhost"
  :port 5432}
 :server
 {:port 4061}
 :max-import-articles 100000
 :max-bulk-invitations 2
 :mock-email true
 :e-util-api-key "***REMOVED***"
 :profile :dev
 :private-config "config.local.edn"}
