{:env :dev
 :pedestal {:port 4060}
 :postgres {:create-if-not-exists? true
            :embedded? true
            :dbname "sysrev"
            :dbtype "postgres"
            :host "localhost"
            :port 0
            :user "postgres"}}
