{:paths ["src" "test"]
 :api-namespaces [;; clj
                  sysrev.cassandra
                  sysrev.user
                  sysrev.shared.keywords
                  ;; cljs
                  sysrev.annotation
                  sysrev.chartjs
                  sysrev.core
                  sysrev.views.html
                  sysrev.views.reagent-json-view
                  sysrev.views.semantic
                  ;; test
                  sysrev.test.etaoin.core]
 :interactive? true
 :aggressive? true
 :dry-run? true}
