{:paths ["src"]
 :deps {cider/cider-nrepl {:mvn/version "0.28.2"}
        nrepl/nrepl {:mvn/version "0.9.0"}
        refactor-nrepl/refactor-nrepl {:mvn/version "3.2.2"}

        poly/component {:local/root "../component"}}}
