.MuiButton-textPrimary {
    color: @blue !important;
}

.MuiDataGrid-colCellTitle {
    color: @textColor;
}

.MuiDataGrid-root {
    border: none !important;
}

.MuiDataGrid-columnsContainer,
.MuiDataGrid-cell {
    border-bottom-color: @solidInternalBorderColor !important;
}

.MuiDataGrid-row {
    background-color: @background0;
    color: @textColor;
}

.MuiDataGrid-toolbar {
    margin-top: 4px;
}

.MuiIconButton-root.Mui-disabled {
    color: fade(@textColor, 26) !important;
}

.MuiTablePagination-root {
    color: @textColor !important;
}

.MuiSelect-icon {
    color: fade(@textColor, 54) !important;
}

.override-dark {
  .MuiIconButton-root.Mui-disabled {
    color: rgba(0, 0, 0, 0.26)!important;
  }
}

